---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Bezpieczna migracja na platformę B2B">

<p class="p_regular_3 head">Bezpieczna migracja klientów</p>

<div class="supports-logos">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="h2_semi lm-observer">Bezpieczna migracja na platformę B2B</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <p class="p_regular_2 description lm-observer">Przed uruchomieniem WiseB2B przygotujemy dla Ciebie bezpieczny proces migracji Twoich klientów z dotychczas wykorzystywanego narzędzia do obsługi sprzedaży cyfrowej. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
      </div>
    </div>
  </div>
</div>

<div class="supports-numbers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="supports-numbers__numbers">

          <!-- Step 01 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 01</div>
                  <img width="220" height="220" src="/images/np_suitcase_4525556.png" alt="" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Testy </h2>
                  <h3 class="h3_semi number__content-subheader">Uruchomienie i monitorowanie integracji</h3>
                  <p class="p_regular_1 number__content-description">Pierwszych krokiem w przygotowaniu procesu migracji klientów jest uruchomienie integracji z systemem ERP. To moment, w którym upewniamy się, że opracowane mechanizmy wymiany danych działają poprawnie i wszelkie elementy związane z ofertą handlową zdefiniowane w systemie ERP są wiernie odwzorowane na platformie B2B. </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 02 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 02</div>
                  <img width="220" height="220" src="/images/np_operation_2998632.png" alt="" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Migracja kluczowych klientów</h2>
                  <h3 class="h3_semi number__content-subheader">Zacznij w zaufanym gronie</h3>
                  <p class="p_regular_1 number__content-description">Na początek warto oddać nową platformę w ręce wąskiej grupy klientów. Takich, do których masz zaufanie i pewność, że transparentnie przekażą Ci opinie o nowym rozwiązaniu. Migracja mniejszej liczby kontrahentów jest również bezpieczniejsza – jeśli jakiekolwiek elementy wymagałyby poprawy, to nie odczują tego faktu wszyscy Twoi klienci, a wyłącznie ich część. Na tym etapie dotychczasowe rozwiązanie e-Commerce B2B nadal jest włączone i korzystają z niego pozostali klienci. </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 03 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 03</div>
                  <img width="220" height="220" src="/images/np_ecommerce_4557208.png" alt="" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Dostęp dla nowych klientów</h2>
                  <h3 class="h3_semi number__content-subheader">Rejestrowanie nowych klientów wyłącznie na nowej platformie</h3>
                  <p class="p_regular_1 number__content-description">Kluczowi klienci korzystają już z nowej platformy i wiesz już, że wszystkie kluczowe procesy działają poprawnie. Aby rozszerzyć testy WiseB2B i&nbsp;powoli przygotowywać się do wyłączenia poprzedniego narzędzia, warto umożliwić rejestrację nowych klientów wyłącznie na nowej platformie. Dzięki temu zwiększy się grupa użytkowników, którzy zweryfikują działanie platformy oraz sprawdzisz, jak rozwiązanie radzi sobie z większą liczbą danych i transakcji. </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 04 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 04</div>
                  <img width="220" height="220" src="/images/np_server_1122156.png" alt="" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Migracja właściwa</h2>
                  <h3 class="h3_semi number__content-subheader">Przeniesienie pozostałych klientów i&nbsp;wyłączenie dotychczasowej platformy </h3>
                  <p class="p_regular_1 number__content-description">Na tym etapie możesz być już w pełni spokojny o działanie nowej platformy, poprawność funkcjonowania mechanizmu integracji i&nbsp;możliwość swobodnego składania zamówień za pośrednictwem nowego rozwiązania. Najwyższa pora, aby do nowej platformy zmigrować pozostałych klientów i wyłączyć dotychczas wykorzystywane rozwiązanie. </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="support-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 p-lg-0 col-xl-8 offset-xl-2">
        <div class="support-cta__wrapper lm-observer">
          <div class="support-cta__data">
            <div class="support-cta__content">
              <h2 class="h2_semi">Potrzebujesz szczegółowych informacji?</h2>
              <p class="h5_regular name">Jakub Czyżkowski</p>
              <p class="p_regular_2 job">CEO</p>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów rozmowę z ekspertem</a>
            </div>
          </div>
          <img width="472" height="372" src="/images/Ellipse-126.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
