---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Funkcje platformy B2B">

<div class="functions-images">
  <div class="functions-images__bg"></div>
  <div class="functions-images__lines"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-images__wrapper lm-observer">
          <img width="333" height="222" src="/images/iStock-1039579142.jpg" class="image image--small image--left" alt="" />
          <div class="image__wrapper">
            <img width="590" height="393" src="/images/iStock-669887502.jpg" class="image image--center" alt="" />
          </div>
          <img width="333" height="222" src="/images/iStock-1303454308.jpg" class="image image--small image--right" alt="" />
          <div class="icon">
            <img width="44" height="44" src="/images/np_settings_746615.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-box-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-box-white-bg__wrap">
          <h1 class="p_regular_3 functions-box-white-bg__subheader lm-observer">Funkcje platformy WiseB2B</h1>
          <h2 class="h2_semi functions-box-white-bg__header lm-observer">Zaawansowane funkcje platformy B2B, odpowiadające na potrzeby: </h2>
          <div class="functions-box-white-bg__wrapper">
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Klienta</p>
              <p class="p_regular_3 item__description">Zawsze dostępna oferta, dopasowana do indywidualnych potrzeb i preferencji sprawi, że Twoi klienci będą kupowali więcej. </p>
            </div>
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Właściciela</p>
              <p class="p_regular_3 item__description">Dzięki WiseB2B w pełni scyfryzujesz proces sprzedaży, jednocześnie obniżając jego koszty i zwiększając wartość transakcji.</p>
            </div>
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Działu sprzedaży</p>
              <p class="p_regular_3 item__description">Odciążeni z powtarzalnych i&nbsp;monotonnych czynności handlowcy, będą mogli skoncentrować się na budowaniu relacji z kluczowymi klientami i&nbsp;docieraniu do nowych.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Pełne wsparcie procesu zakupowego Twojego klienta</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <ul class="list list--left">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Zawsze dostępne centrum klienta biznesowego</p>
                    <p class="p_regular_3 description">WiseB2B to jedna platforma, na której Twój klient zrobi zakupy z każdego miejsca, o każdej porze, zyska dostęp do pełnej dokumentacji i faktur, zweryfikuje status reklamacji i&nbsp;zwrotów, a nawet poszerzy swoją wiedzę o produktach, usługach i&nbsp;branży. Dzięki temu będziesz miał okazję zbudować na platformie B2B wyjątkowe doświadczenia, które będą pozycjonowały Twoją&nbsp;firmę w roli lidera.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Indywidualne podejście do klienta</p>
                    <p class="p_regular_3 description">Twoi klienci oczekują od platformy B2B takiej samej jakości obsługi, jakiej doświadczają przy bezpośrednim kontakcie z handlowcem. Dlatego potrzebujesz narzędzia, które będzie w stanie dostosowywać się do indywidualnych potrzeb i&nbsp;oczekiwań. Tworząc WiseB2B zadbaliśmy o to, aby Twoi klienci mogli skorzystać z&nbsp;indywidualnych cenników, promocji dostosowanych do nawyków zakupowych czy&nbsp;spersonalizowanych rabatów. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Przejrzysta i intuicyjna oferta</p>
                    <p class="p_regular_3 description">Nieważne jak rozbudowany katalog produktowy posiadasz – dzięki WiseB2B zaprezentujesz go swojemu klientowi w&nbsp;sposób przejrzysty i&nbsp;czytelny. Rozwiązanie pozwala na intuicyjne poruszanie się po złożonych drzewach asortymentowych, dzięki zaawansowanym mechanizmom filtrowania po dowolnie określonych atrybutach. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5 col-lg-6">
              <div class="image image--right lm-observer">
                <img width="490" height="399" src="/images/laptop-mockup.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Skalowanie sprzedaży i&nbsp;zwiększanie wartości transakcji</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <ul class="list list--left-both">
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Większa wartość zamówień od&nbsp;obecnych klientów</p>
                    <p class="p_regular_3 description">Twój Klient kupuje zawsze te same produkty o&nbsp;tej samej wartości? Wykorzystaj mechanizmy automatycznego reagowanie na zachowania klienta w czasie rzeczywistym, dzięki którym zwiększyć  wartość zamówień. Promocje celowane, oferty okresowe dostosowane do&nbsp;pogody, sezonowości czy nadzwyczajnych okazji – to narzędzia, dzięki którym zmotywujesz klientów do większych zakupów.  </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Platforma, która nadąży za rozwojem Twojego biznesu</p>
                    <p class="p_regular_3 description">Rozważasz wejście na nowe rynki, uruchomienie sprzedaży zagranicznej czy może zastanawiasz się nad wdrożeniem sprzedaży z oddziałów? Dzięki WiseB2B ewolucja Twojego modelu biznesowego znajdzie wierne odzwierciedlenia w kanale e-Commerce. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list list--right-both">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Lepsza oferta dzięki optymalizacji procesu zakupowego</p>
                    <p class="p_regular_3 description">Co gdyby Twoi klienci kupowali więcej i&nbsp;częściej, jednocześnie oszczędzając możliwie dużo na każdej transakcji? Tak działa optymalizator zakupów w&nbsp;WiseB2B. Rozwiązanie dba o to, aby przy okazji każdego procesu zakupowego Twój klient mógł skorzystać z najlepszej dla siebie oferty, sugerując najkorzystniejsze promocje, ilości potrzebne do osiągniecia lepszej ceny czy produkty komplementarne. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Skuteczne dotarcie do nowych odbiorców</p>
                    <p class="p_regular_3 description">Ciągle szukasz nowych klientów. A oni szukają Twoich produktów, zwykle za pomocą wyszukiwarek internetowych. Pozwól im do siebie dotrzeć i&nbsp;zapoznać się z&nbsp;ofertą. Odpowiednio przygotowany pod katem wyszukiwarek profil otwarty Twojej platformy B2B pozwoli Ci pozyskiwać nowych odbiorców w sposób pasywny.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Dział sprzedaży w nowej roli</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-5 col-lg-6">
              <div class="image image--left lm-observer">
                <img width="490" height="375" src="/images/browser-mockup.png" alt="" />
              </div>
            </div>
            <div class="col-md-7 col-lg-6">
              <ul class="list list--right">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Budowanie wartościowych relacji</p>
                    <p class="p_regular_3 description">Dzięki temu, że większość sprzedaży przeniesiesz na WiseB2B, Twoi handlowcy będą mogli skupić się na budowaniu relacji z kluczowymi klientami i&nbsp;pozyskiwaniu nowych. Jednocześnie platforma będzie również ich narzędziem pracy – to dzięki niej zweryfikują statystyki najważniejszych klientów, przeanalizują ich zakupy i na podstawie faktycznych danych zaproponują najodpowiedniejszy w danym momencie rabat czy promocję. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Odciążenie z czasochłonnej komunikacji</p>
                    <p class="p_regular_3 description">Komunikacja w procesie obsługi klienta działanie, które Twoim sprzedawcom zajmuje najwięcej czasu. Odpowiadanie na pytania o produkty, dostępność, ceny, o status realizacji zamówienia to żmudne zajęcie. Możesz od niego uwolnić swoich sprzedawców. Możesz również zapewnić znacznie lepsze wrażenia zakupowe swoim klientom, jeśli zautomatyzujesz komunikację w zakresie rutynowych działań.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Centrum wiedzy o kliencie</p>
                    <p class="p_regular_3 description">WiseB2B stanie się dla Twoich sprzedawców miejscem, w którym znajdą całą historię zakupów poszczególnych klientów, dane na temat najczęściej zamawianych produktów, promocjach, z&nbsp;których korzystają itp. Dzięki temu analizowanie sytuacji poszczególnych klientów i wyciąganie wniosków, pozwalających na usprawnienie współpracy, staje się dużo prostsze. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functionalities">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <h2 class="h2_semi">Poznaj funkcjonalności</h2>
        <div class="functionalities__wrapper">

          <div class="item lm-observer" data-popup="popup-0">
            <p class="p_semi_1">Katalog Produktów</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-0">
            <div class="item-popup__head">
              <h5 class="h5_semi">Katalog Produktów</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Sposób prezentacji produktów na platformie jest dostosowany do specyfiki handlu B2B. Platforma umożliwia wyświetlanie listy produktów w dwóch widokach: uproszczonym i rozszerzonym. W widoku szczegółów produktu prezentowane są wszelkie parametry ułatwiające zakupy, dobrane w zależności od branży i specyfiki firmy, np. nazwa produktu, kod EAN, podstawowa jednostka sprzedaży, minimalna ilość zakupu, cena netto, opis produktu.</p>
              <ul>
                <li>kategorie produktów,</li>
                <li>katalog produktów,</li>
                <li>atrybuty,</li>
                <li>zdjęcia i multimedia,</li>
                <li>dokumenty związane z towarami,</li>
                <li>powiązania (akcesoria, zamienniki itp.),</li>
                <li>nazwy własne klienta, dodatkowe symbole (np. do importu zamówień).</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-1">
            <p class="p_semi_1">Oferta handlowa</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-1">
            <div class="item-popup__head">
              <h5 class="h5_semi">Oferta handlowa</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Każdy element Twojej oferty handlowej może być precyzyjnie odwzorowany na platformie WiseB2B. Specjalne cenniki dla poszczególnych klientów, jak i ich wielowalutowe wersje, spersonalizowane promocje, limity kredytowe czy indywidualne dostępności towarów – wszystko, co zdefiniujesz w sowim systemie ERP będzie wiernie odwzorowane na platformie B2B.</p>
              <ul>
                <li>cenniki indywidualne dla każdego klienta,</li>
                <li>indywidualne promocje, </li>
                <li>limity kredytowe,</li>
                <li>terminy płatności,</li>
                <li>dostępności towarów (progowe, ilościowe).</li>
                <li>cenniki wielowalutowe,</li>
                <li>cenniki według opakowań zbiorczych,</li>
                <li>dostępności towarów indywidualne,</li>
                <li>indywidualny zakres produktów,</li>
                <li>dostępnośc w punktach odbiorów (sklepów, składów),</li>
                <li>promocje wiązane.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-2">
            <p class="p_semi_1">Wyszukiwarka</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-2">
            <div class="item-popup__head">
              <h5 class="h5_semi">Wyszukiwarka</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Zakres i złożoność danych oraz parametrów, które przypisywane są do poszczególnych produktów w B2B jest bardzo duży. Dlatego w rozwiązaniu WiseB2B mechanizm wyszukiwania został wyposażony w funkcje, pozwalające odnajdywać towary po dowolnie zadanych kryteriach. Dzięki temu klienci mogą błyskawicznie wyszukać potrzebne produkty, po dowolnie wybranych przez siebie parametrach.</p>
              <ul>
                <li>frazy opisów produktów do wyszukiwania,</li>
                <li>atrubuty filtracji zależne od wyników wyszukiwania,</li>
                <li>standardowe reguły priorytetowania wyników,</li>
                <li>uwzględnienie priorytetów sprzedażowych,</li>
                <li>wyniki wyszukiwania zależne od profilu klienta,</li>
                <li>względnienie preferencji zakupowych klienta (według historii zakupów).</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-3">
            <p class="p_semi_1">Zakupy</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-3">
            <div class="item-popup__head">
              <h5 class="h5_semi">Zakupy</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Zakupy za pomocą WiseB2B są proste i intuicyjne. Tradycyjne kompletowanie koszyka, tworzenie wielokoszyków, korzystanie z list zakupowych czy import zamówień – każdy preferowany przez klienta sposób składania zamówienia jest w pełni wspierany. Co więcej, rozwiązanie pozwala na obsługę specyficznych potrzeb, takich jak zarządzanie miejscami powstawania kosztów czy sprzedaż zagraniczna. </p>
              <ul>
                <li>kompletowanie koszyków zamówień,</li>
                <li>potwierdzanie dostępności on-line w momencie złożenia zamówienia,</li>
                <li>wielokoszyki i zamówienia powtarzalne,</li>
                <li>punkty odbioru,</li>
                <li>metody płatności,</li>
                <li>listy zakupowe,</li>
                <li>powiadomienia o rozbieżnościach w realizacji,</li>
                <li>import zamówień z Excela,</li>
                <li>uprawnienia dla operatorów do składania i akceptacji zamówień,</li>
                <li>pobieranie danych marketingowych o produktach z poziomu koszyka,</li>
                <li>miejsca kosztowe klienta (oddziały, działy w firmie klienta),</li>
                <li>informacja o opakowaniach i ich zawartości (paking lists).</li>
                <li>sprzedaż zagraniczna UE (WNT i zamówienia walutowe),</li>
                <li>sprzedaż z magazynów centralnych i oddziałowych,</li>
                <li>sprzedaż eksportowa.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-4">
            <p class="p_semi_1">Optymalizator zakupów</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-4">
            <div class="item-popup__head">
              <h5 class="h5_semi">Optymalizator zakupów</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">WiseB2B jest bogate w rozwiązania, motywujące klientów do większych zakupów. Narzędzie automatycznie podpowiada, ile towarów należy dodać do koszyka, aby uzyskać lepszą cenę i sugeruje ilości produktów, które należy dodać do koszyka, aby skorzystać z korzystniejszego cenowo opakowania zbiorczego. Co więcej, optymalizator zakupów dba również o to, aby klient uzupełnił swój koszyk o zakupy komplementarne i skorzystał z promocji, pozwalających na osiągnięcie lepszej ceny przy konkretnym zamówieniu. </p>
              <ul>
                <li>sugerowanie ilości do zakupów do osiągnięcia korzystniejszej ceny,</li>
                <li>sugerowanie ilości do zakupów w opakowaniach zbiorczych,</li>
                <li>optymalizacja opakowań zbiorczych pod kątem ceny,</li>
                <li>sugerowanie lepszej promocji do wykorzystania przy zakupie,</li>
                <li>sugerowanie towarów komplementarnych,</li>
                <li>sugerowanie promocji wiązanych do osiągniecia lepszej ceny.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-5">
            <p class="p_semi_1">Wsparcie handlowca w zakupach</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-5">
            <div class="item-popup__head">
              <h5 class="h5_semi">Wsparcie handlowca w zakupach</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Platforma B2B to nie tylko narzędzie dla klientów, ale również wsparcie pracy handlowców. Sprzedawcy mogą w razie potrzeby logować się do profili swoich klientów, kompletować ich zamówienia lub udzielić każdego innego wsparcie, którego potrzebuje klient – czy to w procesie zakupów, czy z pozyskaniem konkretnych danych czy dokumentów. Handlowiec może również sprawdzić należności i limity kredytowe czy analizować statystyki zakupów swoich klientów.  </p>
              <ul>
                <li>logowanie do profilu klienta,</li>
                <li>kompletowanie koszyków,</li>
                <li>składanie zamówień,</li>
                <li>przeglądanie danych klienta,</li>
                <li>przekazanie zamówienia do akceptacji klienta,</li>
                <li>weryfikacja należności i limitów kredytowych,</li>
                <li>rabaty indywidualne,</li>
                <li>statystyki zakupów towaru przez klienta.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-6">
            <p class="p_semi_1">Dokumenty</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-6">
            <div class="item-popup__head">
              <h5 class="h5_semi">Dokumenty</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">WiseB2B to miejsce, w którym zarówno klient, jak i handlowiec znajdzie wszelkie dane i dokumenty, związane z konkretnymi procesami zakupowymi. Pełna historia zamówień, zbiór faktur i rozrachunków, dokumenty spedycyjne czy packinglisty – wszystkie informacje na temat zrealizowanych, jak i aktualnie procedowanych zamówień, dostępne są w jednym narzędziu. </p>
              <ul>
                <li>historia zamówień,</li>
                <li>faktury,</li>
                <li>faktury korygujące,</li>
                <li>rozrachunki,</li>
                <li>dokumenty spedycyjne,</li>
                <li>packinglisty.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-7">
            <p class="p_semi_1">Zwroty i reklamacje</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-7">
            <div class="item-popup__head">
              <h5 class="h5_semi">Zwroty i reklamacje</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Handel B2B to nie tylko zakupy, ale i obsługa posprzedażowa. WiseB2B wspiera również ten etap współpracy z klientem, umożliwiając awizację reklamacji i zwrotów oraz śledzenie procesu realizacji zamówienia, wraz z możliwością komunikacji i komentowania aktywności w jego zakresie. </p>
              <ul>
                <li>awizacja reklamacji,</li>
                <li>awizacja zwrotów,</li>
                <li>śledzenie procesu realizacji zgłoszenia,</li>
                <li>komentarze i komunikacja.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-8">
            <p class="p_semi_1">Baza wiedzy i edukacja</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-8">
            <div class="item-popup__head">
              <h5 class="h5_semi">Baza wiedzy i edukacja</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">WiseB2B to narzędzie, dzięki któremu zwiększysz lojalność i przywiązanie klientów do firmy. W ramach rozwiązania możesz stworzyć rozbudowaną bazę wiedzy o produktach, newsach z branży, zmianach prawnych oraz dzielić się treściami poradnikowymi. Platforma pozwala na tworzenie artykułów, jak i repozytoriów plików. Twój klient w jednym miejscu nie tylko zrobi zakupy i pozyska wszelkie informacje na temat swoich zamówień, ale i poszerzy wiedzę i zwiększy świadomość na temat oferowanych produktów. </p>
              <ul>
                <li>artykuły powiązane z produktami, </li>
                <li>artykuły powiązane z kategoriami produktów,</li>
                <li>repozytoria plików, np.: akty prawne, podania, formularze,</li>
                <li>konfiguracja blokowa strony głównej: slidery banerowe, bloki produktowe, kategorie, karuzele, banery,</li>
                <li>własne podstrony z artykułami,</li>
                <li>banery kontekstowe,</li>
                <li>CMS: regulaminy, o nas. </li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-9">
            <p class="p_semi_1">Komunikacja</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-9">
            <div class="item-popup__head">
              <h5 class="h5_semi">Komunikacja</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Integracja w jednym miejscu całej komunikacji o zamówieniach daje gwarancję, że wymiana informacji będzie płynna i zapewni szybkie wyjaśnianie problematycznych kwestii. WiseB2B pozwala na komunikację na temat zamówień z poziomu platformy, jak i integrację z zewnętrznymi systemami chatów. Narzędzie wspiera wysyłanie mailowych powiadomień o ofercie, statusach realizacji zamówień czy poziomie należności. </p>
              <ul>
                <li>powiadomienia mailowe o ofercie, obsłudze zamówienia, należnościach itp.,</li>
                <li>alerty aplikacji,</li>
                <li>historia komunikacji,</li>
                <li>integracje z systemami chatów.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-10">
            <p class="p_semi_1">Profil otwarty</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-10">
            <div class="item-popup__head">
              <h5 class="h5_semi">Profil otwarty</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Platforma B2B zwykle pozwala na dokonywanie zakupów dopiero po rejestracji i tak działa też WiseB2B. Jednocześnie rozwiązanie posiada też profil otwarty, który wyposażony jest w zestaw funkcji wspierających pozycjonowanie produktów w wyszukiwarkach. Dzięki temu platforma B2B pozwala na skuteczne docieranie do nowych klientów oraz wspiera proces rejestracji nowych użytkowników. </p>
              <ul>
                <li>opisy i nagłówki SEO do produktów,</li>
                <li>prezentacja produktów i wyszukiwanie bez logowania,</li>
                <li>generowanie leadów do rejestracji,</li>
                <li>automatyczne akceptowanie rejestracji,</li>
                <li>bez możliwości zakupów bez rejestracji.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-11">
            <p class="p_semi_1">Płatności elektroniczne</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-11">
            <div class="item-popup__head">
              <h5 class="h5_semi">Płatności elektroniczne</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">WiseB2B zapewnia wsparcie wszystkich metod płatności, zarówno tych elektronicznych realizowanych w trakcie składania zamówienia, jak i tych dokonywanych na podstawie faktur czy rozrachunków. Ponadto platforma wspiera również zwroty środków oraz integrację z operatorami faktoringu. </p>
              <ul>
                <li>płatności podczas składania zamówienia,</li>
                <li>płatności rozrachunków / faktur,</li>
                <li>zwroty,</li>
                <li>integracja z faktorami.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-12">
            <p class="p_semi_1">Integracje ERP</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-12">
            <div class="item-popup__head">
              <h5 class="h5_semi">Integracje ERP</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Integracja WiseB2B z systemem ERP zapewnia pełnie odwzorowanie warunków handlowych, danych o klientach, asortymencie czy promocjach. Rozwiązanie jest integrowane z wybranymi rozwiązaniami ERP oraz może zostać zintegrowane z dowolnym systemem, z którego korzysta Twoja firma. </p>
              <ul>
                <li>dedykowany integrator do ERP takich jak COMARCH, Teneum,</li>
                <li>odwzorowanie reguł handlowych występujących w danym ERP.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-13">
            <p class="p_semi_1">API Admin/Client</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-13">
            <div class="item-popup__head">
              <h5 class="h5_semi">API Admin/Client</h5>
            </div>
            <div class="item-popup__content">
              <ul>
                <li>Admin API – głównie do integracji samodzielnej,</li>
                <li>Client API do składania i śledzenia realizacji swoich zamówień, ewentualnie pobierania cenników, dostępności.</li>
              </ul>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-14">
            <p class="p_semi_1">SaaS/OnPremise</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-14">
            <div class="item-popup__head">
              <h5 class="h5_semi">SaaS/OnPremise</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Opis</p>
            </div>
          </div>

          <div class="item lm-observer" data-popup="popup-15">
            <p class="p_semi_1">Wtyczki i moduły dedykowane</p>
            <span class="link_regular">Szczegóły</span>
          </div>
          <div class="item-popup" id="popup-15">
            <div class="item-popup__head">
              <h5 class="h5_semi">Wtyczki i moduły dedykowane</h5>
            </div>
            <div class="item-popup__content">
              <p class="p_regular_3">Lista funkcji i możliwości WiseB2B może być rozbudowywana zgodnie z tym, jakie potrzeby ma konkretny biznes. Możliwości w tym zakresie są nieograniczone. Zaczynając na zleceniu budowania wtyczek konsultantom WiseB2B, przez projektowanie dodatków we własnym zakresie, aż po dostęp do kodu źródłowego – w zależności od wymagań konkretnego biznesu, rozwiązanie może być rozbudowywane w wielu modelach. </p>
              <ul>
                <li>możliwość użycia gotowych wtyczek dostępnych na platformie (lub zlecenia budowania wtyczek do zespołu WiseB2B),</li>
                <li>możłiwość budowania własnych wtyczek i ich instalacji w SaaS,</li>
                <li>dostęp do kodu źródłowego z możliwością modyfikacji.</li>
              </ul>
            </div>
          </div>

          <svg class="functionalities__prev functionalities__arrow" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle r="29" transform="matrix(-1 0 0 1 29 29)" fill="#312B3F"/>
            <path d="M35 17L22 29.5L35 42" stroke="white"/>
          </svg>
          <svg class="functionalities__next functionalities__arrow" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="29" cy="29" r="29" fill="#312B3F"/>
            <path d="M23 17L36 29.5L23 42" stroke="white"/>
          </svg>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
        <div class="cta__wrapper lm-observer">
          <div class="cta__data">
            <div class="cta__content">
              <h3 class="h3_semi">Masz pytania na temat możliwości funkcjonalnych WiseB2B? </h3>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Porozmawiaj z ekspertem</a>
            </div>
          </div>
          <img width="472" height="372" src="/images/Ellipse-126.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
