---
export const prerender = true;
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';

const funkcjonalnosci = await getCollection('funkcjonalnosci');
funkcjonalnosci.sort((a, b) => a.id.localeCompare(b.id));

const renderedFunkcjonalnosci = await Promise.all(
  funkcjonalnosci.map(async (f, index) => {
    const { Content } = await render(f);
    return { ...f, Content, index };
  })
);
---

<BaseLayout title="Funkcje platformy B2B" description="Zaawansowane funkcje platformy B2B, odpowiadające na potrzeby klientów, handlowców i właścicieli. Poznaj możliwości WiseB2B.">

<div class="functions-images">
  <div class="functions-images__bg"></div>
  <div class="functions-images__lines"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-images__wrapper">
          <img width="333" height="222" src="/images/iStock-1039579142.jpg" class="image image--small image--left" alt="Zespół pracujący nad platformą B2B" />
          <div class="image__wrapper">
            <img width="590" height="393" src="/images/iStock-669887502.jpg" class="image image--center" alt="Funkcje platformy B2B WiseB2B" />
          </div>
          <img width="333" height="222" src="/images/iStock-1303454308.jpg" class="image image--small image--right" alt="Praca z platformą eCommerce B2B" />
          <div class="icon">
            <img width="44" height="44" src="/images/np_settings_746615.png" alt="Ikona ustawień platformy" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-box-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-box-white-bg__wrap">
          <h1 class="p_regular_3 functions-box-white-bg__subheader lm-observer">Funkcje platformy WiseB2B</h1>
          <h2 class="h2_semi functions-box-white-bg__header lm-observer">Zaawansowane funkcje platformy B2B, odpowiadające na potrzeby: </h2>
          <div class="functions-box-white-bg__wrapper">
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Klienta</p>
              <p class="p_regular_3 item__description">Zawsze dostępna oferta, dopasowana do indywidualnych potrzeb i preferencji sprawi, że Twoi klienci będą kupowali więcej. </p>
            </div>
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Właściciela</p>
              <p class="p_regular_3 item__description">Dzięki WiseB2B w pełni scyfryzujesz proces sprzedaży, jednocześnie obniżając jego koszty i zwiększając wartość transakcji.</p>
            </div>
            <div class="item lm-observer">
              <p class="p_semi_2 item_header">Działu sprzedaży</p>
              <p class="p_regular_3 item__description">Odciążeni z powtarzalnych i&nbsp;monotonnych czynności handlowcy, będą mogli skoncentrować się na budowaniu relacji z kluczowymi klientami i&nbsp;docieraniu do nowych.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Pełne wsparcie procesu zakupowego Twojego klienta</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <ul class="list list--left">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="Ikona centrum klienta" />
                  <div>
                    <p class="p_semi_2 head">Zawsze dostępne centrum klienta biznesowego</p>
                    <p class="p_regular_3 description">WiseB2B to jedna platforma, na której Twój klient zrobi zakupy z każdego miejsca, o każdej porze, zyska dostęp do pełnej dokumentacji i faktur, zweryfikuje status reklamacji i&nbsp;zwrotów, a nawet poszerzy swoją wiedzę o produktach, usługach i&nbsp;branży. Dzięki temu będziesz miał okazję zbudować na platformie B2B wyjątkowe doświadczenia, które będą pozycjonowały Twoją&nbsp;firmę w roli lidera.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="Ikona płatności i zamówień" />
                  <div>
                    <p class="p_semi_2 head">Indywidualne podejście do klienta</p>
                    <p class="p_regular_3 description">Twoi klienci oczekują od platformy B2B takiej samej jakości obsługi, jakiej doświadczają przy bezpośrednim kontakcie z handlowcem. Dlatego potrzebujesz narzędzia, które będzie w stanie dostosowywać się do indywidualnych potrzeb i&nbsp;oczekiwań. Tworząc WiseB2B zadbaliśmy o to, aby Twoi klienci mogli skorzystać z&nbsp;indywidualnych cenników, promocji dostosowanych do nawyków zakupowych czy&nbsp;spersonalizowanych rabatów. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="Ikona sprzedaży" />
                  <div>
                    <p class="p_semi_2 head">Przejrzysta i intuicyjna oferta</p>
                    <p class="p_regular_3 description">Nieważne jak rozbudowany katalog produktowy posiadasz – dzięki WiseB2B zaprezentujesz go swojemu klientowi w&nbsp;sposób przejrzysty i&nbsp;czytelny. Rozwiązanie pozwala na intuicyjne poruszanie się po złożonych drzewach asortymentowych, dzięki zaawansowanym mechanizmom filtrowania po dowolnie określonych atrybutach. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5 col-lg-6">
              <div class="image image--right lm-observer">
                <img width="490" height="399" src="/images/laptop-mockup.png" alt="Platforma WiseB2B na laptopie" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Skalowanie sprzedaży i&nbsp;zwiększanie wartości transakcji</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <ul class="list list--left-both">
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="Ikona płatności i zamówień" />
                  <div>
                    <p class="p_semi_2 head">Większa wartość zamówień od&nbsp;obecnych klientów</p>
                    <p class="p_regular_3 description">Twój Klient kupuje zawsze te same produkty o&nbsp;tej samej wartości? Wykorzystaj mechanizmy automatycznego reagowanie na zachowania klienta w czasie rzeczywistym, dzięki którym zwiększyć  wartość zamówień. Promocje celowane, oferty okresowe dostosowane do&nbsp;pogody, sezonowości czy nadzwyczajnych okazji – to narzędzia, dzięki którym zmotywujesz klientów do większych zakupów.  </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="Ikona sprzedaży" />
                  <div>
                    <p class="p_semi_2 head">Platforma, która nadąży za rozwojem Twojego biznesu</p>
                    <p class="p_regular_3 description">Rozważasz wejście na nowe rynki, uruchomienie sprzedaży zagranicznej czy może zastanawiasz się nad wdrożeniem sprzedaży z oddziałów? Dzięki WiseB2B ewolucja Twojego modelu biznesowego znajdzie wierne odzwierciedlenia w kanale e-Commerce. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list list--right-both">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="Ikona sprzedaży" />
                  <div>
                    <p class="p_semi_2 head">Lepsza oferta dzięki optymalizacji procesu zakupowego</p>
                    <p class="p_regular_3 description">Co gdyby Twoi klienci kupowali więcej i&nbsp;częściej, jednocześnie oszczędzając możliwie dużo na każdej transakcji? Tak działa optymalizator zakupów w&nbsp;WiseB2B. Rozwiązanie dba o to, aby przy okazji każdego procesu zakupowego Twój klient mógł skorzystać z najlepszej dla siebie oferty, sugerując najkorzystniejsze promocje, ilości potrzebne do osiągniecia lepszej ceny czy produkty komplementarne. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="Ikona płatności i zamówień" />
                  <div>
                    <p class="p_semi_2 head">Skuteczne dotarcie do nowych odbiorców</p>
                    <p class="p_regular_3 description">Ciągle szukasz nowych klientów. A oni szukają Twoich produktów, zwykle za pomocą wyszukiwarek internetowych. Pozwól im do siebie dotrzeć i&nbsp;zapoznać się z&nbsp;ofertą. Odpowiednio przygotowany pod katem wyszukiwarek profil otwarty Twojej platformy B2B pozwoli Ci pozyskiwać nowych odbiorców w sposób pasywny.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Dział sprzedaży w nowej roli</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-5 col-lg-6">
              <div class="image image--left lm-observer">
                <img width="490" height="375" src="/images/browser-mockup.png" alt="Interfejs platformy B2B w przeglądarce" />
              </div>
            </div>
            <div class="col-md-7 col-lg-6">
              <ul class="list list--right">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_sale_3972942.png" class="icon" alt="Ikona sprzedaży" />
                  <div>
                    <p class="p_semi_2 head">Budowanie wartościowych relacji</p>
                    <p class="p_regular_3 description">Dzięki temu, że większość sprzedaży przeniesiesz na WiseB2B, Twoi handlowcy będą mogli skupić się na budowaniu relacji z kluczowymi klientami i&nbsp;pozyskiwaniu nowych. Jednocześnie platforma będzie również ich narzędziem pracy – to dzięki niej zweryfikują statystyki najważniejszych klientów, przeanalizują ich zakupy i na podstawie faktycznych danych zaproponują najodpowiedniejszy w danym momencie rabat czy promocję. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="Ikona płatności i zamówień" />
                  <div>
                    <p class="p_semi_2 head">Odciążenie z czasochłonnej komunikacji</p>
                    <p class="p_regular_3 description">Komunikacja w procesie obsługi klienta działanie, które Twoim sprzedawcom zajmuje najwięcej czasu. Odpowiadanie na pytania o produkty, dostępność, ceny, o status realizacji zamówienia to żmudne zajęcie. Możesz od niego uwolnić swoich sprzedawców. Możesz również zapewnić znacznie lepsze wrażenia zakupowe swoim klientom, jeśli zautomatyzujesz komunikację w zakresie rutynowych działań.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="Ikona centrum klienta" />
                  <div>
                    <p class="p_semi_2 head">Centrum wiedzy o kliencie</p>
                    <p class="p_regular_3 description">WiseB2B stanie się dla Twoich sprzedawców miejscem, w którym znajdą całą historię zakupów poszczególnych klientów, dane na temat najczęściej zamawianych produktów, promocjach, z&nbsp;których korzystają itp. Dzięki temu analizowanie sytuacji poszczególnych klientów i wyciąganie wniosków, pozwalających na usprawnienie współpracy, staje się dużo prostsze. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functionalities">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <h2 class="h2_semi">Poznaj funkcjonalności</h2>
        <div class="functionalities__wrapper">

          {renderedFunkcjonalnosci.map(({ data, Content, index }) => (
            <>
              <div class="item lm-observer" data-popup={`popup-${index}`}>
                <p class="p_semi_1">{data.title}</p>
                <span class="link_regular">Szczegóły</span>
              </div>
              <div class="item-popup" id={`popup-${index}`}>
                <div class="item-popup__head">
                  <h5 class="h5_semi">{data.title}</h5>
                  <svg class="popup-close" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L17 17M17 1L1 17" stroke="white" stroke-width="2"/>
                  </svg>
                </div>
                <div class="item-popup__content">
                  <Content />
                </div>
              </div>
            </>
          ))}

          <svg class="functionalities__prev functionalities__arrow" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle r="29" transform="matrix(-1 0 0 1 29 29)" fill="#312B3F"/>
            <path d="M35 17L22 29.5L35 42" stroke="white"/>
          </svg>
          <svg class="functionalities__next functionalities__arrow" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="29" cy="29" r="29" fill="#312B3F"/>
            <path d="M23 17L36 29.5L23 42" stroke="white"/>
          </svg>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-compare-cta" style="background:#F7F5FA;padding:60px 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="lm-observer" style="text-align:center;">
          <h3 class="h3_semi" style="margin-bottom:16px;">Sprawdź, które funkcje są dostępne w Twoim pakiecie</h3>
          <p class="p_regular_2" style="margin-bottom:32px;max-width:640px;margin-left:auto;margin-right:auto;">Porównaj pakiety i moduły WiseB2B, aby wybrać rozwiązanie najlepiej dopasowane do potrzeb Twojej firmy.</p>
          <a class="wise-button wise-button--wise-harvest" href="/platforma-b2b/pakiety-obszary-moduly/#price-functions">Porównaj pakiety i moduły</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
        <div class="cta__wrapper lm-observer">
          <div class="cta__data">
            <div class="cta__content">
              <h3 class="h3_semi">Masz pytania na temat możliwości funkcjonalnych WiseB2B? </h3>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Porozmawiaj z ekspertem</a>
            </div>
          </div>
          <img width="472" height="372" src="/images/Ellipse-126.png" alt="Ekspert WiseB2B" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay--functionalities"></div>

<script is:inline>
(function() {
  const items = document.querySelectorAll('.functionalities__wrapper .item[data-popup]');
  const popups = document.querySelectorAll('.functionalities__wrapper .item-popup');
  const overlay = document.querySelector('.overlay--functionalities');
  const prevBtn = document.querySelector('.functionalities__prev');
  const nextBtn = document.querySelector('.functionalities__next');
  let currentIndex = -1;

  function getPopupIds() {
    return Array.from(popups).map(p => p.id);
  }

  function showPopup(id) {
    const ids = getPopupIds();
    currentIndex = ids.indexOf(id);
    popups.forEach(p => p.classList.remove('show'));
    const popup = document.getElementById(id);
    if (popup) {
      popup.classList.add('show');
      overlay.style.display = 'block';
      prevBtn.style.display = 'block';
      nextBtn.style.display = 'block';
    }
  }

  function hideAll() {
    popups.forEach(p => p.classList.remove('show'));
    overlay.style.display = 'none';
    prevBtn.style.display = 'none';
    nextBtn.style.display = 'none';
    currentIndex = -1;
  }

  items.forEach(item => {
    item.addEventListener('click', () => {
      showPopup(item.getAttribute('data-popup'));
    });
  });

  document.querySelectorAll('.item-popup__head .popup-close').forEach(btn => {
    btn.addEventListener('click', hideAll);
  });

  overlay.addEventListener('click', hideAll);

  prevBtn.addEventListener('click', () => {
    const ids = getPopupIds();
    if (currentIndex > 0) {
      showPopup(ids[currentIndex - 1]);
    } else {
      showPopup(ids[ids.length - 1]);
    }
  });

  nextBtn.addEventListener('click', () => {
    const ids = getPopupIds();
    if (currentIndex < ids.length - 1) {
      showPopup(ids[currentIndex + 1]);
    } else {
      showPopup(ids[0]);
    }
  });

  document.addEventListener('keydown', (e) => {
    if (currentIndex === -1) return;
    if (e.key === 'Escape') hideAll();
    if (e.key === 'ArrowLeft') prevBtn.click();
    if (e.key === 'ArrowRight') nextBtn.click();
  });
})();
</script>

</BaseLayout>
