---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Platforma B2B">

<div class="functions-box-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-box-white-bg__wrap">
          <h1 class="p_regular_3 functions-box-white-bg__subheader lm-observer">Platforma handlowa B2B</h1>
          <h2 class="h2_semi functions-box-white-bg__header lm-observer">Platforma B2B dopasowana do potrzeb Twojego&nbsp;biznesu</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Cyfrowy kanał sprzedaży w B2B</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <ul class="list list--left">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Zawsze dostępne centrum klienta biznesowego</p>
                    <p class="p_regular_3 description">WiseB2B to jedna platforma, na której Twój klient zrobi zakupy z każdego miejsca, o każdej porze, zyska dostęp do pełnej dokumentacji i faktur, zweryfikuje status reklamacji i&nbsp;zwrotów, a nawet poszerzy swoją wiedzę o produktach, usługach i branży. Dzięki temu będziesz miał okazję zbudować na platformie B2B wyjątkowe doświadczenia, które będą pozycjonowały Twoją firmę w roli lidera.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Indywidualne podejście do klienta</p>
                    <p class="p_regular_3 description">Twoi klienci oczekują od platformy B2B takiej samej jakości obsługi, jakiej doświadczają przy bezpośrednim kontakcie z handlowcem. Dlatego potrzebujesz narzędzia, które będzie w stanie dostosowywać się do indywidualnych potrzeb i oczekiwań. Tworząc WiseB2B zadbaliśmy o to, aby Twoi klienci mogli skorzystać z indywidualnych cenników, promocji dostosowanych do nawyków zakupowych czy spersonalizowanych rabatów. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5 col-lg-6">
              <div class="image image--right lm-observer">
                <img loading="lazy" width="389" height="582" src="/images/standing-woman-macbook.png" class="attachment-list-artwork size-list-artwork" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">WiseB2B jest dla Ciebie, jeśli:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-5 col-lg-6">
              <div class="image image--left lm-observer">
                <img loading="lazy" width="490" height="366" src="/images/man-macbook-desk.png" class="attachment-list-artwork size-list-artwork" alt="" />
              </div>
            </div>
            <div class="col-md-7 col-lg-6">
              <ul class="list list--right">
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Chcesz obsługiwać większą liczbę klientów</p>
                    <p class="p_regular_3 description">Przenieś większość sprzedaży do kanału cyfrowego, zadbaj o doświadczenia zakupowe obecnych klientów i pozyskuj nowych.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Szukasz doradztwa w&nbsp;rozwoju handlu B2B </p>
                    <p class="p_regular_3 description">Skorzystaj z doświadczenia konsultantów WiseB2B, którzy od ponad 25 lat wspierają firmy handlowe w&nbsp;zwiększaniu efektywności za pomocą dobranych do potrzeb rozwiązań IT. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-632.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Zależy Ci na optymalizacji kosztów </p>
                    <p class="p_regular_3 description">Zwiększ liczbę obsługiwanych klientów i&nbsp;zamówień, redukując koszty obsługi sprzedaży i bez ograniczeń skaluj przychody. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="price-list-cta-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="price-list-cta-contact__wrapper lm-observer">
          <h2 class="h2_semi">Przeczytaj więcej o&nbsp;możliwościach WiseB2B dla branż: </h2>
          <div class="price-list-cta-contact__buttons">
            <a class="wise-button wise-button--wise-harvest" href="/dla-kogo/dla-dystrybutorow/">Dystrybucji i handlu</a>
            <a class="wise-button wise-button--transparent-light" href="/dla-kogo/dla-producentow/">Produkcji</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-box-white-bg" style="background-color: #f8f7fa;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-box-white-bg__wrap">
          <h2 class="h2_semi functions-box-white-bg__header lm-observer">Dlaczego WiseB2B?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="about-us-rules__items" style="padding: 20px 0 60px;">
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2L3 7V17L12 22L21 17V7L12 2Z" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M12 8V16M8 10L12 12L16 10" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Najnowsze technologie budowania aplikacji eCommerce</p>
              <p class="p_regular_3 about-us-rules__content-desc">Wykorzystujemy sprawdzone, nowoczesne technologie, które zapewniają wydajność, bezpieczeństwo i skalowalność Twojej platformy B2B.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M8 12L11 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Zaprojektowane dla modyfikacji i rozwoju</p>
              <p class="p_regular_3 about-us-rules__content-desc">AI wspiera tworzenie pluginów i rozszerzeń. Architektura platformy umożliwia łatwe dostosowanie do indywidualnych potrzeb Twojego biznesu.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 22C12 22 20 18 20 12V5L12 2L4 5V12C4 18 12 22 12 22Z" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M9 12L11 14L15 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Gwarancja poprawnego funkcjonowania i zgodności z prawem</p>
              <p class="p_regular_3 about-us-rules__content-desc">W przeciwieństwie do rozwiązań OpenSource, otrzymujesz gwarancję prawidłowego działania i zgodności z obowiązującymi przepisami.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="7" height="7" rx="1" stroke="white" stroke-width="2" fill="none"/>
                  <rect x="14" y="3" width="7" height="7" rx="1" stroke="white" stroke-width="2" fill="none"/>
                  <rect x="3" y="14" width="7" height="7" rx="1" stroke="white" stroke-width="2" fill="none"/>
                  <rect x="14" y="14" width="7" height="7" rx="1" stroke="white" stroke-width="2" fill="none"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Metodyka wdrożeniowa — opracowana i zweryfikowana</p>
              <p class="p_regular_3 about-us-rules__content-desc">Sprawdzony proces wdrożenia, oparty na dziesiątkach zrealizowanych projektów. Wiesz czego się spodziewać na każdym etapie.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2V6M12 18V22M6 12H2M22 12H18M4.93 4.93L7.76 7.76M16.24 16.24L19.07 19.07M19.07 4.93L16.24 7.76M7.76 16.24L4.93 19.07" stroke="white" stroke-width="2" stroke-linecap="round"/>
                  <circle cx="12" cy="12" r="4" stroke="white" stroke-width="2" fill="none"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Brak opłat GMV — nie płacisz prowizji od obrotu</p>
              <p class="p_regular_3 about-us-rules__content-desc">Twój sukces nie oznacza wyższych kosztów. Model licencjonowania WiseB2B nie pobiera prowizji od wartości Twoich transakcji.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 11H5C3.9 11 3 11.9 3 13V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V13C21 11.9 20.1 11 19 11Z" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M12 2L4 7V11H20V7L12 2Z" stroke="white" stroke-width="2" fill="none"/>
                  <circle cx="12" cy="16.5" r="2" stroke="white" stroke-width="1.5" fill="none"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">WiseB2B Cloud — środowisko z n8n do integracji i automatyzacji</p>
              <p class="p_regular_3 about-us-rules__content-desc">Gotowe środowisko chmurowe z narzędziami do integracji i automatyzacji procesów biznesowych — bez konieczności budowania infrastruktury od zera.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="4" y="4" width="16" height="12" rx="2" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M8 20H16" stroke="white" stroke-width="2" stroke-linecap="round"/>
                  <path d="M12 16V20" stroke="white" stroke-width="2" stroke-linecap="round"/>
                  <path d="M8 10H10M14 10H16M8 13H12" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">OnPremise — opcja instalacji u siebie</p>
              <p class="p_regular_3 about-us-rules__content-desc">Pełna kontrola nad danymi i infrastrukturą. Instaluj WiseB2B na własnych serwerach, jeśli wymaga tego Twoja polityka bezpieczeństwa lub regulacje branżowe.</p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21V19C17 16.79 15.21 15 13 15H5C2.79 15 1 16.79 1 19V21" stroke="white" stroke-width="2" stroke-linecap="round" fill="none"/>
                  <circle cx="9" cy="7" r="4" stroke="white" stroke-width="2" fill="none"/>
                  <path d="M23 21V19C23 17.14 21.73 15.57 20 15.13" stroke="white" stroke-width="2" stroke-linecap="round" fill="none"/>
                  <path d="M16 3.13C17.73 3.57 19 5.14 19 7C19 8.86 17.73 10.43 16 10.87" stroke="white" stroke-width="2" stroke-linecap="round" fill="none"/>
                </svg>
              </div>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Zespół ze wsparciem Sente — 25 lat, ~100 projektów</p>
              <p class="p_regular_3 about-us-rules__content-desc">Za WiseB2B stoi doświadczony zespół z ponad 25-letnim doświadczeniem w budowaniu rozwiązań IT dla firm handlowych i produkcyjnych.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Dodatkowe cechy platformy</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <ul class="list list--left">
                <li class="lm-observer">
                  <img width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Ekspansja zagraniczna</p>
                    <p class="p_regular_3 description">Wielojęzyczność, wielokrajowość, automatyczna weryfikacja VIES i obsługa VAT — WiseB2B wspiera Twoją ekspansję na rynki zagraniczne.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Wersja mobilna w standardzie</p>
                    <p class="p_regular_3 description">Responsywny interfejs zapewnia pełną funkcjonalność platformy na urządzeniach mobilnych — Twoi klienci mogą składać zamówienia z dowolnego miejsca.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-632.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">SEO-friendly — zdobywanie nowych klientów</p>
                    <p class="p_regular_3 description">Platforma zoptymalizowana pod kątem wyszukiwarek internetowych pozwala pozyskiwać nowych klientów poprzez widoczność w wynikach Google.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5 col-lg-6">
              <div class="image image--right lm-observer">
                <img loading="lazy" width="389" height="582" src="/images/standing-woman-macbook.png" class="attachment-list-artwork size-list-artwork" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="questions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="questions__wrapper lm-observer">
          <h3 class="h3_semi">Najczęściej zadawane pytania:</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="questions__items">
          <div class="item lm-observer">
            <h2 class="h5_semi">Czym jest platforma B2B?</h2>
            <p class="p_regular_3">Platforma B2B to cyfrowa witryna sprzedaży, umożliwiająca realizację sprzedaży online dla klientów biznesowych. Rozwiązanie umożliwia samodzielne składanie przeglądanie oferty, kompletowanie koszyków i składanie zamówień przez klientów. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Platforma B2B a B2C – różnice</h2>
            <p class="p_regular_3">Podstawową różnicą między platformą sprzedażową B2B a B2C są klienci, do których kierowane są rozwiązania. W przypadku platform B2B są to klienci biznesowi, a w sklepach B2C klienci indywidualni. Takie rozróżnienie wpływa na zakres funkcjonalny rozwiązań, bp. platforma B2B zapewnia dostęp do faktur i rozliczeń oraz jest zwykle dostępna po zalogowaniu. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Platforma B2B – kto powinien rozważyć wdrożenie?</h2>
            <p class="p_regular_3">Wdrożenie platformy B2B powinny rozważyć firmy, posiadające klientów biznesowych – głównie dystrybutorzy i producenci, ale również firmy usługowe czy projektowe. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Ile kosztuje platforma B2B? </h2>
            <p class="p_regular_3">Na koszt wdrożenia platformy B2B składają się opłaty związane z pracami wdrożeniowymi oraz koszty licencjonowania, które zwykle rozkładane są na opłaty miesięczne. Koszty użytkowania platformy B2B zależą zwykle od planu abonamentowego, wybranego przez konkretną firmę, liczy klientów, transakcji itp. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">W jaki sposób platforma B2B wspiera firmy z różnych branż? </h2>
            <p class="p_regular_3">Platforma B2B dostosowana do specyfiki konkretnej branży pozwala zwiększyć skuteczność sprzedaży dzięki zaadresowanie dokładnie tych elementów, które są istotne dla odbiorców w danym segmencie. Np. w przypadku firm produkcyjnych platforma B2B może zostać wzbogacona o funkcje wspierające monitorowanie realizacji kontraktów oraz składanie zamówień na produkcję pod zamówienie. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Jakie korzyści płyną z wdrożenia platformy B2B?</h2>
            <p class="p_regular_3">Korzyści płynące z wdrożenia platformy B2B to m.in. zwiększenie sprzedaży, uwolnienie czasu pracy handlowców, dotarcie do nowych klientów i zautomatyzowanie procesu obsługi zamówień. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
        <div class="cta__wrapper lm-observer">
          <div class="cta__data">
            <div class="cta__content">
              <h3 class="h3_semi">Chciałbyś dowiedzieć się więcej na temat możliwości WiseB2B? </h3>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Porozmawiaj z ekspertem</a>
            </div>
          </div>
          <img loading="lazy" width="472" height="372" src="/images/Ellipse-126.png" class="attachment-cta_image size-cta_image" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
