---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Platforma B2B">

<div class="functions-box-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-box-white-bg__wrap">
          <h1 class="p_regular_3 functions-box-white-bg__subheader lm-observer">Platforma handlowa B2B</h1>
          <h2 class="h2_semi functions-box-white-bg__header lm-observer">Platforma B2B dopasowana do potrzeb Twojego&nbsp;biznesu</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">Cyfrowy kanał sprzedaży w B2B</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <ul class="list list--left">
                <li class="lm-observer">
                  <img width="32" height="32" src="/images/np_tracking_1105782_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Zawsze dostępne centrum klienta biznesowego</p>
                    <p class="p_regular_3 description">WiseB2B to jedna platforma, na której Twój klient zrobi zakupy z każdego miejsca, o każdej porze, zyska dostęp do pełnej dokumentacji i faktur, zweryfikuje status reklamacji i&nbsp;zwrotów, a nawet poszerzy swoją wiedzę o produktach, usługach i branży. Dzięki temu będziesz miał okazję zbudować na platformie B2B wyjątkowe doświadczenia, które będą pozycjonowały Twoją firmę w roli lidera.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="40" height="40" src="/images/np_credit-cart_2990739_000000-1.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Indywidualne podejście do klienta</p>
                    <p class="p_regular_3 description">Twoi klienci oczekują od platformy B2B takiej samej jakości obsługi, jakiej doświadczają przy bezpośrednim kontakcie z handlowcem. Dlatego potrzebujesz narzędzia, które będzie w stanie dostosowywać się do indywidualnych potrzeb i oczekiwań. Tworząc WiseB2B zadbaliśmy o to, aby Twoi klienci mogli skorzystać z indywidualnych cenników, promocji dostosowanych do nawyków zakupowych czy spersonalizowanych rabatów. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5 col-lg-6">
              <div class="image image--right lm-observer">
                <img loading="lazy" width="389" height="582" src="/images/standing-woman-macbook.png" class="attachment-list-artwork size-list-artwork" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-list-artwork">
  <div class="container">
    <div class="row lm-observer">
      <div class="col-12">
        <h3 class="h3_semi">WiseB2B jest dla Ciebie, jeśli:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-list-artwork__wrapper">
          <div class="row">
            <div class="col-md-5 col-lg-6">
              <div class="image image--left lm-observer">
                <img loading="lazy" width="490" height="366" src="/images/man-macbook-desk.png" class="attachment-list-artwork size-list-artwork" alt="" />
              </div>
            </div>
            <div class="col-md-7 col-lg-6">
              <ul class="list list--right">
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Chcesz obsługiwać większą liczbę klientów</p>
                    <p class="p_regular_3 description">Przenieś większość sprzedaży do kanału cyfrowego, zadbaj o doświadczenia zakupowe obecnych klientów i pozyskuj nowych.</p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-634.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Szukasz doradztwa w&nbsp;rozwoju handlu B2B </p>
                    <p class="p_regular_3 description">Skorzystaj z doświadczenia konsultantów WiseB2B, którzy od ponad 20 lat wspierają firmy handlowe w&nbsp;zwiększaniu efektywności za pomocą dobranych do potrzeb rozwiązań IT. </p>
                  </div>
                </li>
                <li class="lm-observer">
                  <img loading="lazy" width="54" height="68" src="/images/Group-632.png" class="icon" alt="" />
                  <div>
                    <p class="p_semi_2 head">Zależy Ci na optymalizacji kosztów </p>
                    <p class="p_regular_3 description">Zwiększ liczbę obsługiwanych klientów i&nbsp;zamówień, redukując koszty obsługi sprzedaży i bez ograniczeń skaluj przychody. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="price-list-cta-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="price-list-cta-contact__wrapper lm-observer">
          <h2 class="h2_semi">Przeczytaj więcej o&nbsp;możliwościach WiseB2B dla branż: </h2>
          <div class="price-list-cta-contact__buttons">
            <a class="wise-button wise-button--wise-harvest" href="/dla-kogo/dla-dystrybutorow/">Dystrybucji i handlu</a>
            <a class="wise-button wise-button--transparent-light" href="/dla-kogo/dla-producentow/">Produkcji</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="questions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="questions__wrapper lm-observer">
          <h3 class="h3_semi">Najczęściej zadawane pytania:</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="questions__items">
          <div class="item lm-observer">
            <h2 class="h5_semi">Czym jest platforma B2B?</h2>
            <p class="p_regular_3">Platforma B2B to cyfrowa witryna sprzedaży, umożliwiająca realizację sprzedaży online dla klientów biznesowych. Rozwiązanie umożliwia samodzielne składanie przeglądanie oferty, kompletowanie koszyków i składanie zamówień przez klientów. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Platforma B2B a B2C – różnice</h2>
            <p class="p_regular_3">Podstawową różnicą między platformą sprzedażową B2B a B2C są klienci, do których kierowane są rozwiązania. W przypadku platform B2B są to klienci biznesowi, a w sklepach B2C klienci indywidualni. Takie rozróżnienie wpływa na zakres funkcjonalny rozwiązań, bp. platforma B2B zapewnia dostęp do faktur i rozliczeń oraz jest zwykle dostępna po zalogowaniu. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Platforma B2B – kto powinien rozważyć wdrożenie?</h2>
            <p class="p_regular_3">Wdrożenie platformy B2B powinny rozważyć firmy, posiadające klientów biznesowych – głównie dystrybutorzy i producenci, ale również firmy usługowe czy projektowe. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Ile kosztuje platforma B2B? </h2>
            <p class="p_regular_3">Na koszt wdrożenia platformy B2B składają się opłaty związane z pracami wdrożeniowymi oraz koszty licencjonowania, które zwykle rozkładane są na opłaty miesięczne. Koszty użytkowania platformy B2B zależą zwykle od planu abonamentowego, wybranego przez konkretną firmę, liczy klientów, transakcji itp. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">W jaki sposób platforma B2B wspiera firmy z różnych branż? </h2>
            <p class="p_regular_3">Platforma B2B dostosowana do specyfiki konkretnej branży pozwala zwiększyć skuteczność sprzedaży dzięki zaadresowanie dokładnie tych elementów, które są istotne dla odbiorców w danym segmencie. Np. w przypadku firm produkcyjnych platforma B2B może zostać wzbogacona o funkcje wspierające monitorowanie realizacji kontraktów oraz składanie zamówień na produkcję pod zamówienie. </p>
          </div>
          <div class="item lm-observer">
            <h2 class="h5_semi">Jakie korzyści płyną z wdrożenia platformy B2B?</h2>
            <p class="p_regular_3">Korzyści płynące z wdrożenia platformy B2B to m.in. zwiększenie sprzedaży, uwolnienie czasu pracy handlowców, dotarcie do nowych klientów i zautomatyzowanie procesu obsługi zamówień. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
        <div class="cta__wrapper lm-observer">
          <div class="cta__data">
            <div class="cta__content">
              <h3 class="h3_semi">Chciałbyś dowiedzieć się więcej na temat możliwości WiseB2B? </h3>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Porozmawiaj z ekspertem</a>
            </div>
          </div>
          <img loading="lazy" width="472" height="372" src="/images/Ellipse-126.png" class="attachment-cta_image size-cta_image" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
