---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="System B2B zintegrowany z ERP – Integracja ERP z systemem B2B" description="Zintegruj platformę B2B z systemem ERP. WiseB2B zapewnia spójność reguł handlowych i integralność danych dzięki integracji API.">

<div class="integrations-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h2_semi">Integracja platformy B2B z systemem ERP</h1>
        <p class="p_regular_1">Integracje pozwalają WiseB2B pracować tam, gdzie Ty.</p>
      </div>
    </div>
  </div>
</div>

<div class="integrations-logos-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-12 p-lg-0 offset-lg-0 col-xl-8 offset-xl-2">
        <div class="boxes">

          <div class="box lm-observer">
            <div class="image">
              <img width="136" height="89" src="/images/Group-439.png" alt="Schemat integracji danych" />
            </div>
            <div class="box__content">
              <h5 class="h5_regular">Reguły handlowe będą spójne</h5>
              <p class="p_regular_3">Informacje o cenach, promocjach czy rabatach – wszystkie elementy, które zdefiniujesz w swoim ERP, będą w 100% odwzorowane w&nbsp;WiseB2B. </p>
            </div>
          </div>

          <div class="box lm-observer">
            <div class="image">
              <img width="108" height="120" src="/images/Group-394.png" alt="Integralność danych" />
            </div>
            <div class="box__content">
              <h5 class="h5_regular">Dane zachowają integralność</h5>
              <p class="p_regular_3">Dzięki integracji z ERP informacje o&nbsp;kontrahentach, zamówieniach czy produktach będą obustronnie wymieniane z platformą e-Commerce B2B, dzięki czemu dane na temat transakcji i zamówień będą spójne.</p>
            </div>
          </div>

          <div class="box lm-observer">
            <div class="image">
              <img width="91" height="90" src="/images/Group-392.png" alt="Spójność reguł handlowych" />
            </div>
            <div class="box__content">
              <h5 class="h5_regular">Bez dodatkowych paneli administracyjnych</h5>
              <p class="p_regular_3">Nie będziesz musiał zarządzać informacjami o produktach, klientach czy swojej ofercie z&nbsp;poziomu WiseB2B – jeśli w swoim ERP będziesz w stanie zapisać niezbędne informacje, to dzięki integracji będą one spójne również w kanale e-Commerce B2B. </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="integrations-logos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="h5_regular lm-observer">Integrujemy się z:</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="boxes" style="grid-template-columns: repeat(4, 1fr);">
          <div class="box lm-observer">
            <div class="image">
              <img width="176" height="42" src="/images/erp-logo-1.png" alt="Logo systemu ERP" />
            </div>
          </div>
          <div class="box lm-observer">
            <div class="image">
              <img width="172" height="42" src="/images/erp-logo-2.png" alt="Logo systemu ERP" />
            </div>
          </div>
          <div class="box lm-observer">
            <div class="image">
              <img width="159" height="29" src="/images/erp-logo-3.png" alt="Logo systemu ERP" />
            </div>
          </div>
          <div class="box lm-observer">
            <div class="image image--empty">
              <div class="p_semi_3">Twój ERP</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="integrations-api">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="integrations-api__wrapper lm-observer">
          <h2 class="h2_semi integrations-api__header">Integracja za pomocą API</h2>
          <p class="p_regular_1 integrations-api__desc">Integracja WiseB2B za pomocą API jest możliwa w dwóch trybach:</p>
          <div class="integrations-api__boxes">
            <div class="item item--left">
              <p class="p_semi_2 item__head">Admin API</p>
              <p class="p_regular_3 item__desc">Przeznaczone dla dystrybutorów i&nbsp;producentów korzystających z WiseB2B do integracji samodzielnej systemów własnych.</p>
            </div>
            <div class="svg">
              <svg class="show" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="128" height="125" viewBox="0 0 128 125">
                <polyline fill="transparent" stroke="#000000" points="64,0 64,121 126.9,121 123.8,117.8 126.9,121 123.8,124.2 "/>
              </svg>
              <svg class="show" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="128" height="125" viewBox="0 0 128 125">
                <polyline fill="transparent" stroke="#000000" points="64,121 1.1,121 4.2,117.8 1.1,121 4.2,124.2"/>
              </svg>
            </div>
            <div class="item item--right">
              <p class="p_semi_2 item__head">Client API</p>
              <p class="p_regular_3 item__desc">Przeznaczone dla klientów biznesowych dystrybutorów i producentów do&nbsp;składania i śledzenia realizacji swoich zamówień, ewentualnie pobierania cenników, informacji na temat dostępności towarów. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="integrations-systems">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 padding-left-none">
        <div class="integrations-systems__wrapper lm-observer">
          <div class="row">
            <div class="col-xmd-6 col-lg-6 padding-left-none">
              <div class="integrations-systems__item integrations-systems__item--left">
                <img width="60" height="75" src="/images/Group-632.png" alt="Ikona bezpiecznej migracji" />
                <h4 class="h4_semi">Integracje z systemami płatności</h4>
                <p class="p_regular_3">W sprzedaży B2B coraz częściej mamy do czynienia z&nbsp;płatnościami natychmiastowymi, dlatego możliwość dokonywania opłaty za zamówienie z poziomu platformy B2B jest tak ważna. WiseB2B jest zintegrowane z&nbsp;najpopularniejszymi systemami płatności, ułatwiając finalizowanie transakcji klientom biznesowym. </p>
              </div>
            </div>
            <div class="col-xmd-6 col-lg-6 padding-right-none">
              <div class="integrations-systems__item integrations-systems__item--right">
                <img width="60" height="75" src="/images/Group-634.png" alt="Ikona wsparcia zespołu" />
                <h4 class="h4_semi">Integracja z alternatywnym systemem front-end</h4>
                <p class="p_regular_3">Wybierając WiseB2B otrzymujesz kompletną platformę, która pozwoli scyfryzować Twoją sprzedaż B2B od A do Z. Jeśli jednak z&nbsp;dowolnego powodu zależy Ci na zastosowaniu własnego systemu Front-end, to możesz zintegrować WiseB2B z&nbsp;zewnętrznym rozwiązaniem UX, np. Vue Storefront.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="integrations-n8n">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="integrations-n8n__wrapper lm-observer">
          <div class="integrations-n8n__header">
            <h2 class="h2_semi">Silnik automatyzacji n8n w&nbsp;WiseB2B Cloud</h2>
            <p class="p_regular_1">W ramach usługi WiseB2B Cloud udostępniamy n8n &mdash; niezależne, potężne środowisko do&nbsp;integracji i&nbsp;automatyzacji procesów biznesowych.</p>
          </div>
          <div class="integrations-n8n__content">
            <div class="integrations-n8n__features">
              <div class="integrations-n8n__feature">
                <div class="integrations-n8n__icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="8" fill="#f3f6fa"/>
                    <path d="M13 20h14M27 20l-4-4M27 20l-4 4M13 14v12" stroke="#c6973d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                <h5 class="h5_regular">Wizualne tworzenie workflow</h5>
                <p class="p_regular_3">Twórz przepływy automatyzujące procesy między platformą a&nbsp;systemami zewnętrznymi &mdash; bez pisania kodu. Interfejs drag &amp; drop pozwala budować nawet złożone scenariusze.</p>
              </div>
              <div class="integrations-n8n__feature">
                <div class="integrations-n8n__icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="8" fill="#f3f6fa"/>
                    <path d="M14 20a6 6 0 1 1 12 0 6 6 0 0 1-12 0zM10 20h4M26 20h4M20 10v4M20 26v4" stroke="#c6973d" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </div>
                <h5 class="h5_regular">Setki gotowych integracji</h5>
                <p class="p_regular_3">Łącz platformę z&nbsp;ERP, CRM, systemami e-mail, SMS, magazynowymi i&nbsp;wieloma innymi. n8n wspiera setki konektorów do popularnych usług i&nbsp;systemów.</p>
              </div>
              <div class="integrations-n8n__feature">
                <div class="integrations-n8n__icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="8" fill="#f3f6fa"/>
                    <path d="M15 26l3-4 3 2 4-6" stroke="#c6973d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="12" y="12" width="16" height="16" rx="2" stroke="#c6973d" stroke-width="2"/>
                  </svg>
                </div>
                <h5 class="h5_regular">Harmonogramowanie i&nbsp;monitoring</h5>
                <p class="p_regular_3">Ustawiaj automatyczne wykonywanie workflow w&nbsp;określonych godzinach. Monitoruj ich przebieg i&nbsp;korzystaj z&nbsp;logów do audytu oraz debugowania.</p>
              </div>
            </div>
            <div class="integrations-n8n__summary">
              <p class="p_regular_2">n8n eliminuje manualną obsługę powtarzalnych procesów i&nbsp;redukuje błędy. Automatyzuj synchronizację danych, powiadomienia, statusy zamówień i&nbsp;dziesiątki innych operacji &mdash; bez zatrudniania programistów.</p>
              <div class="integrations-n8n__badges">
                <span class="integrations-n8n__badge integrations-n8n__badge--optional">Starter &mdash; opcja</span>
                <span class="integrations-n8n__badge integrations-n8n__badge--included">Professional &mdash; w&nbsp;cenie</span>
                <span class="integrations-n8n__badge integrations-n8n__badge--included">Enterprise &mdash; w&nbsp;cenie</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="functions-cta-list-numbers">
  <div class="container">
    <div class="row">
      <div class="col-xmd-12 col-lg-10 offset-lg-1 p-lg-none col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-cta-list-numbers__wrapper lm-observer">
          <div class="functions-cta-list-numbers__cta">
            <img width="718" height="536" src="/images/man-macbook-desk.png" alt="Biznesmen pracujący z platformą B2B" />
            <div class="functions-cta-list-numbers__cta-content">
              <h5 class="h5_regular">WiseB2B jest gotowy  do rozbudowy bez modyfikacji kodu źródłowego, z&nbsp;zachowaniem możliwości aktualizacji. Tak, aby podążać za Twoim biznesem i&nbsp;wyprzedać rynek.</h5>
              <a class="wise-button wise-button--white-wise" href="/platforma-b2b/bezpieczna-migracja/">Przeczytaj więcej o migracji</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xmd-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="functions-cta-list-numbers__wrapper">
          <div class="row">
            <div class="col-xmd-5 col-lg-5">
              <h3 class="h3_semi functions-cta-list-numbers__header lm-observer">Bezpieczna migracja ze wsparciem naszego zespołu</h3>
            </div>
            <div class="col-xmd-6 offset-xmd-1 col-lg-6 offset-lg-1">
              <ul>
                <li class="lm-observer">
                  <p class="p_regular_1 head">Zaplanuj migrację</p>
                  <p class="p_regular_2 description">Jeśli korzystasz już z jakiegoś rozwiązania do obsługi sprzedaży cyfrowej, to na początek możesz udostępnić nową platformę tylko ograniczonej grupie zaufanych klientów, w celu bezpiecznego zebrania feedbacku. Jednocześnie dotychczas wykorzystywane narzędzie może nadal być aktywne dla pozostałych klientów.</p>
                </li>
                <li class="lm-observer">
                  <p class="p_regular_1 head">Testuj platformę w praktyce</p>
                  <p class="p_regular_2 description">W następnym kroku możesz udostępnić WiseB2B  nowym klientom. Dzięki temu sprawdzisz w praktyce, czy rozwiązanie działa odpowiednio wydajnie i umożliwia zakupy nowym użytkownikom. </p>
                </li>
                <li class="lm-observer">
                  <p class="p_regular_1 head">Zmigruj wszystkich klientów</p>
                  <p class="p_regular_2 description">Po wykonaniu dwóch poprzednich kroków możesz bez przeszkód przenieść wszystkich swoich klientów na nową platformę. Wszystko działa dokładnie tak, jak powinno i najwyższa pora, aby z&nbsp;komfortu intuicyjnych zakupów mogli korzystać wszyscy Twoi kontrahenci. </p>
                </li>
              </ul>
              <a class="p_regular_3 link lm-observer" href="/platforma-b2b/bezpieczna-migracja/">
                Dowiedz się więcej nt. migracji
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 2.25L8.25 6L4.5 9.75" stroke="#C6973D" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
        <div class="cta__wrapper lm-observer">
          <div class="cta__data">
            <div class="cta__content">
              <h3 class="h3_semi">Chcesz dowiedzieć się więcej o możliwościach integracyjnych WiseB2B? </h3>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Umów się na rozmowę z ekspertem</a>
            </div>
          </div>
          <img width="496" height="392" src="/images/Ellipse-149.png" alt="Ekspert WiseB2B ds. integracji" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
