---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Proces wdrożenia platformy B2B – od analizy do uruchomienia" description="Poznaj etapy wdrożenia platformy B2B WiseB2B: sprint analityczny, projekt graficzny, prace wdrożeniowe, integracje, testy i uruchomienie.">

<p class="p_regular_3 head">Proces wdrożenia</p>

<div class="supports-logos">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="h2_semi lm-observer">Proces wdrożenia platformy B2B</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <p class="p_regular_2 description lm-observer">Zanim rozpoczniesz korzystanie z WiseB2B, przeprowadzimy Cię przez proces implementacji w sześciu krokach. Długość i złożoność każdego z&nbsp;etapów zależy od poziomu skomplikowania Twojego biznesu i&nbsp;charakterystyki potrzeb. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
      </div>
    </div>
  </div>
</div>

<div class="supports-numbers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="supports-numbers__numbers">

          <!-- Step 01 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 01</div>
                  <img width="220" height="220" src="/images/np_suitcase_4525556.png" alt="Sprint analityczny" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Sprint analityczny</h2>
                  <h3 class="h3_semi number__content-subheader">Określimy potrzeby i zdefiniujemy cele biznesowe wdrożenia</h3>
                  <ul>
                    <li class="list">
                      <p class="p_semi_1 list__header">Przebieg prac analitycznych</p>
                      <p class="p_regular_3 list__description">W zależności od skali wdrożenia platformy B2B prace analityczne trwają od 1 do 4 tygodni. Podczas tego etapu zespół konsultantów WIseB2B ściśle współpracuje z kluczowymi osobami w Twojej firmie, aby jak najprecyzyjniej przygotować się do wdrożenia platformy B2B.</p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Cele etapu analitycznego</p>
                      <p class="p_regular_3 list__description">Celem sprintu analitycznego jest dogłębne zrozumienie potrzeb Twojego biznesu, określenie celów wdrożenia platformy e-Commerce B2B i mierników sukcesu.</p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Rezultaty prac </p>
                      <p class="p_regular_3 list__description">Efektem prac analitycznych jest  backlog projektu (lista wymagań i historyjek do obsłużenia przez platformę) i ustalony zakres, czas i budżet wdrożenia platformy B2B. </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 02 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 02</div>
                  <img width="220" height="220" src="/images/np_operation_2998632.png" alt="Projekt graficzny i layout" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Projekt graficzny &amp; layout</h2>
                  <h3 class="h3_semi number__content-subheader">Zaplanujemy adaptację lub stworzenie dedykowanych projektów</h3>
                  <p class="p_regular_1 number__content-description">Twoja wersja WiseB2B może wyglądać dokładnie tak, jak będziesz tego chciał. Możesz wykorzystać standardowe layouty lub zaprojektować dedykowane widoki zupełnie od podstaw. Przeanalizujemy wspólnie Twoje potrzeby i pomożemy wybrać podejście, ktore będzie najlepsze podczas wdrożenia platformy B2B w Twojej firmie. </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 03 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 03</div>
                  <img width="220" height="220" src="/images/np_ecommerce_4557208.png" alt="Prace wdrożeniowe" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Prace wdrożeniowe</h2>
                  <h3 class="h3_semi number__content-subheader">Przygotujemy rozwiązanie, dopasowane do potrzeb i celów biznesowych</h3>
                  <ul>
                    <li class="list">
                      <p class="p_semi_1 list__header">Dostosowanie do specyfiki</p>
                      <p class="p_regular_3 list__description">Główną część prac wdrożeniowych stanowi dostosowanie standardowych funkcji WiseB2B do specyfiki przedsiębiorstwa i jego potrzeb. Celem tego etapu jest przygotowanie do uruchomienia systemu, spełniającego oczekiwania i założenia biznesowe. </p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Projektowanie dedykowanych elementów</p>
                      <p class="p_regular_3 list__description">Prace wdrożeniowe to również etap, podczas którego projektowane są dedykowane elementy rozwiązania – jeśli takie właśnie zostały ustalone do realizacji na etapie analitycznym. Zespół projektowy tworzy wówczas funkcje, moduły lub wtyczki specjalnie na potrzeby Twojej firmy i dba o to, aby doskonale współgrały one z pozostałymi elementami podczas wdrożenia platformy B2B. </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 04 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 04</div>
                  <img width="220" height="220" src="/images/np_server_1122156.png" alt="Integracje z systemem ERP" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Integracje</h2>
                  <h3 class="h3_semi number__content-subheader">Zintegrujemy się z Twoim systemem ERP</h3>
                  <p class="p_regular_1 number__content-description">Integracja z systemem nadrzędnym to punkt newralgiczny całego wdrożenia platformy B2B. Jest ona niezbędna, aby warunki handlowe i Twoja oferta mogły zostać wiernie odwzorowane w WiseB2B. Prace integracyjne toczą się równolegle z pracami wdrożeniowymi.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 05 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 5</div>
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Testy akceptacyjne</h2>
                  <h3 class="h3_semi number__content-subheader">Wspólnie przetestujemy opracowane rozwiązanie przed uruchomieniem</h3>
                  <p class="p_regular_1 number__content-description">Po zakończeniu prac wdrożeniowych i integracyjnych platforma B2B jest niemal gotowa do użytku. Ostatni krok, który musi wydarzyć się przed uruchomieniem, to testy akceptacyjne. Podczas tego etapu kluczowe osoby z Twojej firmy weryfikują poprawność przygotowanego rozwiązania według określonych scenariuszy, będących odzwierciedleniem faktycznej pracy z platformą. Dzięki temu możliwe jest wychwycenie elementów do poprawy przed oddaniem systemu Twoim klientom i upewnienie się, że przygotowane rozwiązanie w pełni odpowiada na wszystkie zdefiniowane potrzeby. </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Step 06 -->
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 6</div>
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Uruchomienie</h2>
                  <h3 class="h3_semi number__content-subheader">Oddamy platformę B2B w ręce Twoich klientów</h3>
                  <p class="p_regular_1 number__content-description">Na tym etapie platforma jest w pełni gotowa, zintegrowana z systemem ERP i przetestowana. Najwyższa pora, aby Twoi klienci mogli zacząć z niej korzystać i składać pierwsze zamówienia. W zależności od skali działania Twojej firmy rekomendujemy udostępnienie platformy od razu do wszystkich klientów lub do wybranej grupy, tak aby w węższym gronie zweryfikować działanie platformy. Wdrożenie platformy B2B dobiegło do końca.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="support-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 p-lg-0 col-xl-8 offset-xl-2">
        <div class="support-cta__wrapper lm-observer">
          <div class="support-cta__data">
            <div class="support-cta__content">
              <h2 class="h2_semi">Dowiedz się więcej o wdrożeniu platformy B2B</h2>
              <p class="h5_regular name">Jakub Czyżkowski</p>
              <p class="p_regular_2 job">CEO</p>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów rozmowę z ekspertem</a>
            </div>
          </div>
          <img width="472" height="372" src="/images/Ellipse-126.png" alt="Ekspert WiseB2B" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
