---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Platforma B2B dla producentów – system B2B dla producentów">

  <!-- HERO -->
  <section class="text-logos">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="text-logos__wrapper">
            <h1 class="p_regular_3">Platforma sprzedażowa B2B dla producentów</h1>
            <h2 class="h2_semi">Funkcje dedykowane <span>zwiększaniu</span> sprzedaży B2B przez firmy produkcyjne</h2>
            <p class="desc p_regular_1">Wieloletnia współpraca z firmami produkcyjnymi dała nam doskonałe zrozumienie Twoich potrzeb, specyficznych funkcji oraz tego, czego oczekują i potrzebują Twoi Klienci.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SEKCJA 1: Zwiększ wartość zamówień -->
  <section class="numbers-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="items">

            <div class="item">
              <h2 class="h2_semi">Zwiększ <span>wartość zamówień</span> i odpowiedź na&nbsp;oczekiwania klientów</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <h3 class="p_regular_1">Udostępnij klientom platformę, która ułatwi ich pracę</h3>
                    <p class="p_regular_3">Twoi klienci składają zamówienia telefonicznie lub mailowo, co&nbsp;zabiera im wiele czasu i nie jest zbyt wygodnym rozwiązaniem. Decydując się na wdrożenie WiseB2B udostępniasz im zawsze dostępny, w pełni funkcjonalny i&nbsp;intuicyjny sposób składania zamówień. Dzięki temu zrobią oni zakupy o najbardziej dogodnej dla siebie porze, zapoznają się ze wszystkimi szczegółami Twojej oferty i uzyskają wgląd do statusów aktualnie realizowanych zleceń.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--even">
                    <h3 class="p_regular_1">Precyzyjnie informuj o istotnych szczegółach na temat zamówień</h3>
                    <p class="p_regular_3">Jeśli zajmujesz się produkcją towarów, to moment złożenia zamówienia przez Twojego klienta to dopiero początek Waszych interakcji. Kontrahenci oczekują informacji o&nbsp;statusie zleceń, planowanym terminie dostawy i informacji o&nbsp;bieżących rozliczeniach. WiseB2B pełni rolę centrum informacji dla Twoich klientów &ndash; w dowolnym momencie mogą oni zweryfikować wszelkie dane o&nbsp;aktualnie oraz historycznie realizowanych zamówieniach.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- SEKCJA 2: Wykorzystaj pełen potencjał swojej oferty -->
            <div class="item">
              <h2 class="h2_semi">Wykorzystaj <span>pełen potencjał</span> swojej oferty</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <h3 class="p_regular_1">Zautomatyzuj przyjmowanie zleceń na produkcję pod zamówienie</h3>
                    <p class="p_regular_3">Realizujesz produkcję na zamówienie i każde zlecenie wymaga wymiany wielu informacji? Ten proces możesz w pełni zautomatyzować dzięki WiseB2B. Platforma dostarczy Twoim klientom wszelkich informacji o możliwych do wyprodukowania towarach oraz szacowanym terminie realizacji. Dzięki temu kontrahenci będą mogli zlecać produkcję na zamówienie w&nbsp;pełni samodzielnie, za pośrednictwem kanału cyfrowego.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--even">
                    <h3 class="p_regular_1">Ułatw zamawianie produktów konfigurowalnych</h3>
                    <p class="p_regular_3">Masz szeroką ofertę, w ramach której możliwe jest indywidualne konfigurowanie produktów. Jednak wybór odpowiednich wariantów na&nbsp;podstawie katalogów czy zestawień w Excelu nie jest zbyt intuicyjny dla Twoich klientów i&nbsp;zwykle proces ten wymaga asyst Twoich pracowników. Wykorzystaj WiseB2B do stworzenia dedykowanego konfiguratora produktów dostępnego online i uprość zakupy klientom.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box">
                    <h3 class="p_regular_1">Optymalizuj koszty sprzedaży</h3>
                    <p class="p_regular_3">Przyjmowanie zamówień, odpowiadanie na pytania o terminy produkcji, informowanie o statusach zleceń &ndash; wszystkie czynności związane z procesem sprzedaży i obsługi klienta zabierają Twoim pracownikom wiele godzin każdego dnia. A co gdyby mogły one zostać zautomatyzowane, członkowie Twojego zespołu mogliby skupić się na bardziej wymagających zadaniach? To możliwe dzięki wdrożeniu WiseB2B.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--even">
                    <h3 class="p_regular_1">Zadbaj o rentowność kontraktów</h3>
                    <p class="p_regular_3">Współpracujesz z klientami w ramach długoterminowych kontraktów i dlatego wdrożenie e-Commerce B2B wydaje się w przypadku Twojej firmy niemożliwe? Wręcz przeciwnie &ndash; możesz udostępnić swoim klientom kontraktowych elektroniczny kanał składania zamówień i jednocześnie wykorzystać go do monitorowania wykorzystania limitów w&nbsp;ramach kontraktów. Wszystko to dzięki odpowiedniej integracji z systemem ERP.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- SEKCJA 3: Otwórz swój biznes na nowe możliwości -->
            <div class="item">
              <h2 class="h2_semi">Otwórz swój biznes na <span>nowe możliwości</span></h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <h3 class="p_regular_1">Stwórz strategię transformacji, bazując na ponad 25-letnim doświadczeniu</h3>
                    <p class="p_regular_3">Opracowanie strategii transformacji sprzedaży i tego, w jaki sposób budujesz relację z klientami, to trudny proces. Wyzwaniem jest wykorzystanie najbardziej perspektywicznych tendencji rynkowych i&nbsp;uwzględnienie przy tym specyfiki konkretnego biznesu. Planując wdrażanie zmian z&nbsp;konsultantami WiseB2B możesz skorzystać z&nbsp;ponad 25-letniego doświadczenia zdobytego w setkach projektów. To unikalna korzyść, która zdecydowanie ułatwi wprowadzanie innowacji w Twojej firmie.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--even">
                    <h3 class="p_regular_1">Rozwijaj platformę B2B w sposób, który zwiększy przewagę biznesową Twojej firmy</h3>
                    <p class="p_regular_3">Choć aktualnie wdrożenie platformy B2B to innowacja w Twojej firmie, to&nbsp;na&nbsp;pewno nie będzie to koniec procesu transformacji. Jak Twoi klienci będą korzystać z nowego rozwiązania, które funkcje przypadną im do gustu, a jakich elementów będzie im brakować? Wszystko to da Ci wskazówki i pomysły na rozwój platformy. Wybierając WiseB2B otrzymujesz elastyczne rozwiązanie, które w przyszłości będzie mogło być dostosowane do nowych potrzeb i&nbsp;wyzwań Twojego biznesu, bez żadnych ograniczeń.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="numbers-text__button">
            <a class="wise-button" href="/platforma-b2b/funkcje/">Wszystkie funkcjonalności</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA: Zamów rozmowę z ekspertem -->
  <section class="call-expert">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="call-expert__wrapper">
            <h2 class="h2_semi">Potrzebujesz szczegółowych informacji?</h2>
            <p class="name h5_regular">Jakub Czyżkowski</p>
            <p class="job p_regular_2">CEO</p>
          </div>
          <div class="call-expert__button">
            <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów rozmowę z ekspertem</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CASE STUDY -->
  <section class="case-study">
    <div class="case-study__bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="h2_semi">Case study</h2>
        </div>
        <div class="col-lg-8 offset-lg-2">
          <div class="case-study__wrapper">
            <img loading="lazy" width="900" height="350" src="/images/AdobeStock_284274614-900x350.jpeg" class="image" alt="Case study dystrybutor pirotechniki" />
            <div class="case-study__text">
              <p class="p_regular_2 type">Case study</p>
              <h3 class="h3_semi">Czołowy dystrybutor pirotechniki postawił na WiseB2B</h3>
            </div>
            <div class="case-study__logo">
              <img loading="lazy" width="68" height="68" src="/images/triplex-p-68x68.png" alt="Triplex" />
            </div>
          </div>
          <div class="case-study__mobile-text">
            <p class="p_regular_2 type">Case study</p>
            <h3 class="h3_semi">Czołowy dystrybutor pirotechniki postawił na WiseB2B</h3>
          </div>
          <p class="p_semi_2 company">Prokurent w Triplex</p>
          <p class="p_regular_3 www">www.triplex.pl</p>
          <p class="h4_regular description">&ldquo;Jesteśmy w branży 30 lat, nasi klienci również &ndash; baliśmy się na początku, że klienci przyzwyczajeni do exceli i telefonu nie będą chcieli składać zamówień przez platformę B2B. Ale reakcje są inne &ndash; klienci są zachwyceni. Takie zmiany też dobrze wpływają na wizerunek branży i przyciągają młode pokolenie. Bardzo pozytywnie oceniam zmiany, jakie wniosła platforma B2B wdrożona przez Sente.&rdquo;</p>
          <div class="case-study__button">
            <a class="wise-button wise-button--white-wise" href="/wdrozenia/">Zobacz case study</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- BAZA WIEDZY -->
  <section class="knowledge-bases">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1 col-lg-12">
          <div class="knowledge-bases__wrapper">
            <h2 class="h2_semi">Baza wiedzy</h2>
            <div class="box-posts">
              <a class="item" href="/baza-wiedzy/e-commerce-w-modelu-b2b/">
                <div class="image">
                  <img loading="lazy" width="632" height="421" src="/images/student-gf2aecdbed_640.jpg" alt="E-commerce w modelu B2B" />
                </div>
                <div class="content">
                  <p class="item_category p_regular_3">Dystrybucja i Handel</p>
                  <h3 class="title p_semi_1">E-commerce w modelu B2B</h3>
                  <p class="excerpt p_regular_3">O tym, że e-Commerce w modelu B2B i B2C istotnie się od siebie różni, chyba nie trzeba nikogo przekonywać. E-transakcje z udziałem klienta detalicznego z reguły są szybkie, ale to właśnie sprzedaż dla firm pozwala osiągać większe zyski. Czym charakteryzuje się branża e-Commerce w modelu B2B? Jak jeszcze różni się od B2C?</p>
                  <time class="time p_regular_3">maj 2022</time>
                </div>
              </a>
              <a class="item" href="/baza-wiedzy/korzysci-z-wdrozenia-platformy-b2b/">
                <div class="image">
                  <img loading="lazy" width="580" height="495" src="/images/mockup-macbook.png" alt="Korzyści z wdrożenia platformy B2B" />
                </div>
                <div class="content">
                  <p class="item_category p_regular_3">Korzyści</p>
                  <h3 class="title p_semi_1">Korzyści z wdrożenia platformy B2B</h3>
                  <p class="excerpt p_regular_3">O tym, że e-Commerce w modelu B2B i B2C istotnie się od siebie różni, chyba nie trzeba nikogo przekonywać. E-transakcje z udziałem klienta detalicznego z reguły są szybkie, ale to właśnie sprzedaż dla firm pozwala osiągać większe zyski. Czym charakteryzuje się branża e-Commerce w modelu B2B? Jak jeszcze różni się od B2C?</p>
                  <time class="time p_regular_3">maj 2022</time>
                </div>
              </a>
              <a class="item" href="/baza-wiedzy/jak-wybrac-najlepsza-platforme-b2b/">
                <div class="image">
                  <img loading="lazy" width="632" height="421" src="/images/people-gac9f90525_640.jpg" alt="Jak wybrać najlepszą platformę B2B?" />
                </div>
                <div class="content">
                  <p class="item_category p_regular_3">Dystrybucja i Handel</p>
                  <h3 class="title p_semi_1">Jak wybrać najlepszą platformę B2B?</h3>
                  <p class="excerpt p_regular_3">Platforma e-Commerce B2B to rozwiązanie, które kompleksowo wesprze Ciebie i pracowników działu handlowego w Twojej firmie w obsłudze procesu sprzedaży hurtowej. Głównym celem wdrażania tego typu narzędzi jest zoptymalizowanie procesów biznesowych w taki sposób, aby jak najbardziej ułatwić realizację transakcji zakupowych między przedsiębiorstwami. Jakich korzyści z wdrożenia platformy B2B możesz się spodziewać?</p>
                  <time class="time p_regular_3">luty 2022</time>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="knowledge-bases__button">
            <a class="wise-button wise-button--transparent-wise" href="/baza-wiedzy/">Baza wiedzy</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="questions">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="questions__wrapper">
            <h3 class="h3_semi">Najczęściej zadawane pytania</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <div class="questions__items">
            <div class="item">
              <h2 class="h5_semi">Czym charakteryzuje się platforma B2B dla producentów?</h2>
              <p class="p_regular_3">Cechami wyróżniającymi platformę B2B dla producentów są funkcje zaprojektowane specjalnie z myślą o tej branży. Są to m.in. możliwości: konfigurowania wariantów produktowych, składania zamówień na produkcję na zlecenie, monitorowania realizacji kontraktów.</p>
            </div>
            <div class="item">
              <h2 class="h5_semi">Ile kosztuje wdrożenie platformy B2B dla producentów?</h2>
              <p class="p_regular_3">Na koszt wdrożenia platformy B2B dla producentów składają się opłaty za prace wdrożeniowe oraz miesięczne koszty abonamentu. Opłata abonamentowa uzależniona jest od wybranej wersji oprogramowania: start professional lub enterprise.</p>
            </div>
            <div class="item">
              <h2 class="h5_semi">Jak wygląda proces wdrożenia platformy B2B dla producentów?</h2>
              <p class="p_regular_3">Proces wdrożenia platformy B2B dla producentów zaczyna się od prac analitycznych, podczas których opracowywana jest koncepcja i cel wdrożenia. Następne kroki to prace deweloperskie, testy oraz etapowa migracja klientów, aż do pełnego uruchomienia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA bottom -->
  <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-md-11">
          <div class="cta__wrapper">
            <div class="cta__data">
              <div class="cta__content">
                <h3 class="h3_semi">Chętnie porozmawiamy o Twoich potrzebach i planach rozwojowych.</h3>
              </div>
            </div>
            <div class="cta__button">
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</BaseLayout>
