---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Dla kogo">

  <!-- HERO -->
  <section class="page-hero">
    <div class="container">
      <header>
        <h2 class="h2_semi">Dla kogo</h2>
      </header>
    </div>
  </section>

  <!-- CARDS: Dla dystrybutorów / Dla producentów -->
  <section class="numbers-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="items">

            <div class="item">
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <h3 class="p_regular_1">Dla dystrybutorów</h3>
                    <p class="p_regular_3">Stoisz przed wyzwaniem stworzenia cyfrowego kanału sprzedaży, który odwzorowuje skomplikowane warunki handlowe Twojego biznesu, jednocześnie umożliwiając klientom szybkie i intuicyjne zakupy?</p>
                    <a class="wise-button" href="/dla-kogo/dla-dystrybutorow/">Dowiedz się więcej</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--even">
                    <h3 class="p_regular_1">Dla producentów</h3>
                    <p class="p_regular_3">Twoje relacje z partnerami handlowymi są skomplikowane. Ceny, ilości, terminy &ndash; zwykle to żmudny proces ustaleń. Popraw jego jakość i zaoferuj klientom nowe doświadczenia zakupowe dzięki WiseB2B.</p>
                    <a class="wise-button" href="/dla-kogo/dla-producentow/">Dowiedz się więcej</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="call-expert">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="call-expert__wrapper">
            <h2 class="h2_semi">Potrzebujesz dodatkowych informacji?</h2>
          </div>
          <div class="call-expert__button">
            <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów rozmowę z ekspertem</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</BaseLayout>
