---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Fundusze Europejskie">

<div id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <article>
          <header>
            <h2 class="h2_semi">Fundusze Europejskie</h2>
          </header>
          <div class="page-entry-content">
            <div class="container">
              <div class="single-image">
                <div class="row lm-observer">
                  <div class="col-md-12 col-lg-10 offset-lg-1 col-xl-9">
                    <div class="image">
                      <img fetchpriority="high" decoding="async" width="845" height="86" src="/images/fundusze.png" class="attachment-post_image size-post_image" alt="" sizes="(max-width: 845px) 100vw, 845px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="main-description">
              <div class="container">
                <div class="row">
                  <div class="col-xl-10 offset-xl-1">
                    <div class="main-description__text lm-observer">
                      <p class="h5_regular">Tytuł projektu:<br />
Platforma eCommerce B2B z możliwością modyfikacji i rozbudowy przez użytkowników bez użycia kodu przy pomocy asystenta AI.<br />
<br />
Celem projektu jest zbudowanie prototypu nowej generacji systemu eCommerce B2B, którego modyfikacja i rozbudowa funkcjonalności będzie mogła się odbywać za pomocą języka naturalnego. Interakcja użytkownika konfigurującego system będzie odbywać się z pomocą asystenta AI, który przygotuje dla użytkownika schematy blokowe algorytmów i odpowiednie funkcje oprogramowania, które po weryfikacji i zatwierdzeniu przez użytkownika będą mogły być wykonywane przez oprogramowanie bez ingerencji w kod programistyczny.<br />
<br />
Projekt będzie realizowany w czterech etapach:<br />
– Etap 1 polega na opracowaniu zasobów zdarzeń, warunków i akcji schematów blokowych oraz innych definicji elementów aplikacji (np. struktur, widoków) umożliwiających realizację typowych scenariuszy wdrożeniowych.<br />
– W etapie 2 głównym celem będzie przygotowanie prototypu asystenta AI. Zadania planowane do realizacji w etapie drugim zostaną zlecone wyspecjalizowanemu w tej dziedzinie podwykonawcy, mając na celu możliwie jak najlepsze i efektywne wykorzystanie środków projektu.<br />
– Etap 3 zakłada opracowanie kompilatora schematów blokowych na wykonywalny kod oprogramowania z wykorzystaniem środowiska systemu WiseB2B.<br />
– Ostatecznym, czyli 4 etapem jest agregacja wcześniej wykonywanych prac i pilotażowe uruchomienie prototypu w celu weryfikacji działania platformy, pomiary poprawności jej działania i wydajności.<br />
<br />
Etap 1, 2 i 3 mają charakter badań przemysłowych, natomiast etap 4 to eksperymentalne prace rozwojowe.<br />
<br />
Wsparcie w formie dofinansowania obejmie firmę WiseB2B Sp. z o.o. <br />
<br />
Główną grupą odbiorców, do których jest skierowany projekt to przedsiębiorcy działający w branży eCommerce, e tym: <br />
<br />
– Firmy handlowe z branży dystrybucji i produkcji<br />
– Hurtownie i dystrybutorzy różnorodnych produktów<br />
– Producenci z sektorów przemysłowych i spożywczych<br />
– Firmy z sektora usługowego, budowlanego i medycznego<br />
<br />
Realizacja projektu przyczyni się do rozwoju branży oraz wprowadzenia innowacyjnych rozwiązań w obszarze rozwiązań eCommerce w handlu B2B, przyczyniając się do wzrostu efektywności i konkurencyjności przedsiębiorstw na rynku.<br />
<br />
Kwota wydatków całkowitych projektu: 3 640 105,63 zł<br />
Wysokość wkładu Funduszy Europejskich: 2 174 733,97 PLN<br />
<br />
#FunduszeUE #FunduszeEuropejskie<br />
<br />
Zgłaszanie nieprawidłowości<br />
<br />
Informujemy o możliwości zgłoszenia Instytucji Zarządzającej, m.in. za pomocą anonimowego formularza kontaktowego dostępnego na stronie internetowej Programu, informacji o możliwości wystąpienia nadużycia finansowego, w tym konfliktu interesów lub korupcji.<br />
Wszelkie informacje na temat nadużyć finansowych związanych z wdrażaniem Funduszy Europejskich dla Dolnego Śląska 2021-2027 prosimy przekazywać:<br />
<br />
URZĄD MARSZAŁKOWSKI WOJEWÓDZTWA DOLNOŚLĄSKIEGO  <br />
Departament Funduszy Europejskich  <br />
Mazowiecka 17  <br />
50-412 Wrocław<br />
<br />
Formularz online: <a href="https://www.funduszeuedolnoslaskie.pl/strona/6300-zglos-naduzycie" target="_blank" rel="noopener">https://www.funduszeuedolnoslaskie.pl/strona/6300-zglos-naduzycie</a><br />
<br />
Możliwe jest także zgłaszanie do Dolnośląskiej Instytucji Pośredniczącej podejrzenia niezgodności z Konwencją o prawach osób niepełnosprawnych oraz Kartą Praw Podstawowych UE.<br />
<br />
Dolnośląska Instytucja Pośrednicząca  <br />
ul. Kwiatkowskiego 4  <br />
52-407 Wrocław  <br />
lub poprzez ePUAP: /DIP/SkrytkaESP</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </article>
      </div>
    </div>
  </div>
</div>

</BaseLayout>

<style>
  .page-entry-content {
    margin-top: 40px;
  }
  .single-image {
    margin-bottom: 40px;
  }
  .single-image .image img {
    width: 100%;
    height: auto;
  }
  .main-description__text {
    margin-bottom: 60px;
  }
  article header {
    margin-top: 60px;
    margin-bottom: 20px;
  }
</style>
