---
export const prerender = true;
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="O nas – zespół WiseB2B" description="Poznaj zespół WiseB2B. Pomagamy firmom handlowym i produkcyjnym skutecznie rozwijać cyfrową sprzedaż B2B.">

<div class="about-us-top">
  <div class="about-us-top__bg"></div>
  <div class="about-us-top__lines"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="h2_semi">Pomagamy firmom handlowym i produkcyjnym skutecznie rozwijać cyfrową sprzedaż</h2>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="about-us-top__wrapper">
          <img width="723" height="482" src="/images/iStock-669887502.jpg" class="attachment-about-us-image size-about-us-image" alt="Zespół WiseB2B" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-rules">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 offset-lg-1 col-xl-3 offset-xl-2">
        <div class="about-us-rules__sticky lm-observer">
          <h3 class="h3_semi">Zasady, którymi się kierujemy </h3>
          <p class="p_regular_2 about-us-rules__desc">Współpracując z klientami kierujemy się bardzo klarownymi wartościami, które stanowią dla nas wytyczne do działania, zarówno podczas bieżącej współpracy, jak i w obliczu konieczności podjęcia trudnych decyzji.  </p>
        </div>
      </div>
      <div class="col-md-8 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
        <div class="about-us-rules__items">
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.5301 3.84039C18.8398 3.84039 15.8398 6.84039 15.8398 10.5598C15.8398 11.8793 16.2301 13.1098 16.8898 14.1598H17.9703C19.6203 14.1598 20.9703 15.4793 21.03 17.1C21.5105 17.2196 22.0203 17.25 22.53 17.25C26.2494 17.25 29.2494 14.25 29.2494 10.5597C29.2494 6.86943 26.2494 3.84033 22.53 3.84033L22.5301 3.84039ZM25.3497 9.84039L22.3497 12.8404C22.1692 13.0209 21.9301 13.1099 21.7192 13.1099C21.479 13.1099 21.2692 13.0197 21.0887 12.8404L19.5887 11.3404C19.2289 10.9806 19.2289 10.4099 19.5887 10.0806C19.9485 9.72087 20.5192 9.72087 20.8485 10.0806L21.718 10.9502L24.0875 8.58063C24.4473 8.22087 25.018 8.22087 25.3473 8.58063C25.7094 8.94039 25.7094 9.50994 25.3496 9.84039H25.3497Z" fill="white"/>
                  <path d="M19.2596 17.2196C19.2596 16.5294 18.6901 15.9598 17.9998 15.9598C17.3096 15.9598 13.7998 15.9903 13.0804 15.9903C12.6902 15.9903 12.4207 15.6001 12.5402 15.2403C12.8999 14.1001 13.5902 12.0306 13.7097 11.4C14.0097 9.84025 11.5499 9.35977 11.0695 10.5903C10.6195 11.7305 8.78897 15.2709 6.65975 16.5903C6.41952 16.7403 6.24023 17.0098 6.24023 17.3098V24.5098C6.24023 24.9293 7.94999 26.1598 10.3499 26.1598H17.0693C17.7596 26.1598 18.3291 25.5903 18.3291 24.9C18.3291 24.3 17.9096 23.8195 17.3693 23.6695C17.3389 23.6695 17.3389 23.6391 17.3693 23.6391C18.0596 23.6391 18.6291 23.0695 18.6291 22.3793C18.6291 21.7793 18.2096 21.2988 17.6693 21.1488C17.6389 21.1488 17.6389 21.1184 17.6693 21.1184C18.3596 21.1184 18.9291 20.5488 18.9291 19.8586C18.9291 19.2586 18.5096 18.7781 17.9693 18.6281C17.9389 18.6281 17.9389 18.5976 17.9693 18.5976C18.69 18.5098 19.2596 17.9402 19.2596 17.2195V17.2196Z" fill="white"/>
                  <path d="M3.6 16.3806H1.53048C1.11096 16.3806 0.75 16.7404 0.75 17.1611V24.7514C0.75 25.1709 1.10976 25.5319 1.53048 25.5319L3.6 25.5307C4.01952 25.5307 4.38048 25.1709 4.38048 24.7502V17.1599C4.38048 16.7404 4.05 16.3806 3.6 16.3806V16.3806Z" fill="white"/>
                </svg>
              </div>
              <span></span>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Szczerość w każdej sytuacji</p>
              <p class="p_regular_3 about-us-rules__content-desc">Zawsze możesz liczyć na naszą szczerość. Jeśli Twój pomysł na nowy moduł czy funkcję nie będzie według nas realizował właściwie celów biznesowych, to powiemy Ci o tym. Jeśli w trakcie współpracy zaobserwujemy,  że dla Twojego biznesu lepsze będzie pójście w projekcie w innym kierunku, niż założyliśmy pierwotnie – również niezwłocznie się o tym dowiesz. </p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M0.725314 18.0639C0.700392 18.2289 0.6875 18.3956 0.6875 18.5623C0.6875 19.4741 1.04929 20.3481 1.69468 20.9926C2.33922 21.638 3.21319 21.9998 4.12502 21.9998H17.875C18.7868 21.9998 19.6608 21.638 20.3054 20.9926C20.9508 20.3481 21.3125 19.4741 21.3125 18.5623C21.3125 18.3956 21.2997 18.2289 21.2747 18.0639V18.0398C21.1235 17.0593 20.5554 16.1922 19.7175 15.6612C19.1675 15.3088 18.5282 15.1223 17.875 15.1249H4.12505C3.47365 15.1232 2.83512 15.3097 2.28598 15.6612C1.44809 16.1923 0.880048 17.0594 0.728798 18.0398L0.725314 18.0639ZM16.5 17.8748H17.875C18.2548 17.8748 18.5625 18.1825 18.5625 18.5623C18.5625 18.9422 18.2548 19.2498 17.875 19.2498H16.5C16.1201 19.2498 15.8125 18.9422 15.8125 18.5623C15.8125 18.1825 16.1201 17.8748 16.5 17.8748ZM4.12497 13.7498C3.21233 13.7481 2.31858 14.0076 1.55031 14.4992C1.34492 14.6324 1.14985 14.781 0.96595 14.9426L1.91813 2.54011C2.02813 1.1041 3.22781 -0.00441169 4.66813 -0.000231693H17.3388C18.7791 -0.00452851 19.9788 1.10406 20.0888 2.54011L21.041 14.9426C20.8597 14.7819 20.6672 14.635 20.4635 14.5026C19.6909 14.0085 18.792 13.7472 17.875 13.7498L4.12497 13.7498Z" fill="#003264"/>
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="22" height="22" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <span></span>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Biznes ponad technologią</p>
              <p class="p_regular_3 about-us-rules__content-desc">WiseB2B ma służyć Twojemu biznesowi – wspierać jego rozwój, skalowanie, optymalizację kosztów. To narzędzie, które możesz dostosować do swoich potrzeb, Technologia, zakres rozwiązania, dostępne wtyczki – wszystko to ma służyć realizacji efektów biznesowych, a  w razie potrzeby zostać dostosowane do specyficznych wymagań. </p>
            </div>
          </div>
          <div class="about-us-rules__item lm-observer">
            <div class="about-us-rules__icon">
              <div class="about-us-rules__icon-bg">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.9354 8.36643H22.8867V6.10144C22.8867 4.50144 21.5854 3.2002 19.9867 3.2002H12.0116C10.4129 3.2002 9.11164 4.50144 9.11164 6.10144V8.36643H5.19955C4.09507 8.36643 3.19968 9.26172 3.19955 10.3662L3.19922 13.2778V26.8C3.19922 27.9046 4.09465 28.8 5.19922 28.8H8.0629H23.9343H26.7981C27.9026 28.8 28.798 27.9047 28.7981 26.8002L28.7991 10.3666C28.7991 9.26194 27.9037 8.36643 26.7991 8.36643H23.9354ZM11.0317 6.10144C11.0317 5.56019 11.4717 5.12144 12.0117 5.12144H19.9868C20.5268 5.12144 20.9668 5.56144 20.9668 6.10144V8.36643H11.0317V6.10144ZM21.3181 17.7539C20.5219 21.0253 15.9994 23.4602 15.9994 23.4602C15.9994 23.4602 11.4769 21.0264 10.6807 17.7539C9.86693 14.4102 14.0781 12.4301 15.9994 15.3814C17.9207 12.4314 22.1319 14.4114 21.3181 17.7539Z" fill="#003264"/>
                </svg>
              </div>
              <span></span>
            </div>
            <div class="about-us-rules__content">
              <p class="p_semi_1 about-us-rules__content-header">Nieustanny rozwój</p>
              <p class="p_regular_3 about-us-rules__content-desc">Nasza współpraca zaczyna się od wdrożenia w pełni funkcjonalnej platformy, w wybranej przez Ciebie wersji. Dla nas jest to jednak początek drogi – wiemy, że najlepsze efekty dla Twojego biznesu możemy uzyskać podczas długofalowej współpracy nad rozwojem platformy, zgodnie z tym jak zmieniają się potrzeby Twojego biznesu. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-numbers">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="about-us-numbers__bg">
          <div class="row lm-observer">
            <div class="col-md-4 col-lg-4">
              <div class="about-us-numbers__item">
                <p class="h1_semi about-us-numbers__item-value">12</p>
                <p class="p_regular_3 about-us-numbers__item-desc">Osób</p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 about-us-numbers__center">
              <div class="about-us-numbers__item">
                <p class="h1_semi about-us-numbers__item-value">12+</p>
                <p class="p_regular_3 about-us-numbers__item-desc">Realizacji</p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="about-us-numbers__item">
                <p class="h1_semi about-us-numbers__item-value">8k+</p>
                <p class="p_regular_3 about-us-numbers__item-desc">Użytkowników korzystających z WiseB2B</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-opinion">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 p-lg-0">
        <div class="about-us-opinion__wrapper lm-observer">
          <p class="p_regular_3">Wspaniali Klienci</p>
          <h4 class="h4_regular">Jesteśmy w branży 30 lat, nasi klienci również – baliśmy się na początku, że klienci przyzwyczajeni do exceli i telefonu nie będą chcieli składać zamówień przez platformę B2B. Ale reakcje są inne – klienci są zachwyceni. Takie zmiany też dobrze wpływają na wizerunek branży i przyciągają młode pokolenie. Bardzo pozytywnie oceniam zmiany, jakie wniosła platforma B2B wdrożona przez Sente.</h4>
          <p class="p_semi_2 about-us-opinion__name">Aneta Siwarga</p>
          <p class="p_regular_2 about-us-opinion__www">www.triplex.pl</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-technology">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 p-xl-0">
        <div class="about-us-technology__wrapper lm-observer">
          <img decoding="async" width="792" height="445" src="/images/pexels-fauxels-3182826-1.jpeg" class="about-us-technology__image" alt="Zespół WiseB2B podczas pracy" />
          <div class="about-us-technology__box d-none d-md-block">
            <h5 class="h5_regular">Dołącz do Nas</h5>
            <p class="p_regular_3">Dołącz do zespołu, który tworzy najciekawsze rozwiązania w swojej branży.</p>
            <a class="wise-button wise-button--transparent-white label_regular" href="/prezentacja-produktowa/">Skontaktuj się i poznaj możliwości</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 p-xl-0">
        <div class="row lm-observer">
          <div class="col-md-6 col-lg-6">
            <p class="p_regular_3 about-us-technology__subheader">Dane spółki</p>
            <h3 class="h3_semi about-us-technology__header">WiseB2B Sp. z o.o.</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <p class="p_regular_2 about-us-technology__description">WiseB2B Sp. z o.o.<br />
ul. Legnicka 51-53, <br />
54-203 Wrocław <br />
NIP: 8982279515<br />
Regon: 522441987<br />
KRS: 0000979851</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="about-us-technology__box d-block d-md-none">
          <h5 class="h5_regular">Dołącz do Nas</h5>
          <p class="p_regular_3">Dołącz do zespołu, który tworzy najciekawsze rozwiązania w swojej branży.</p>
          <a class="wise-button wise-button--transparent-white label_regular" href="/prezentacja-produktowa/">Skontaktuj się i poznaj możliwości</a>
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const rulesItems = document.querySelectorAll('.about-us-rules__item');
    if (rulesItems.length === 0) return;
    const observer = new IntersectionObserver(function(entries) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add('show');
        }
      });
    }, { threshold: 0.5 });
    rulesItems.forEach(function(item) {
      observer.observe(item);
    });
  });
</script>

<style is:global>
  .about-us-rules {
    margin-top: 85px;
    margin-bottom: 100px;
  }
  .about-us-rules h3 {
    margin-top: 0;
  }
  .about-us-rules__desc {
    margin-top: 23px;
    color: #5a5565;
    width: 102%;
  }
  .about-us-rules__sticky {
    position: sticky;
    top: 300px;
  }
  .about-us-rules__items {
    margin-bottom: 40px;
  }
  .about-us-rules__item {
    display: flex;
    margin-top: 10px;
    min-height: 260px;
  }
  .about-us-rules__item:last-child {
    min-height: auto;
  }
  .about-us-rules__item:last-child .about-us-rules__icon span {
    display: none;
  }
  .about-us-rules__item:last-child .about-us-rules__content {
    padding-bottom: 0;
  }
  .about-us-rules__item.show .about-us-rules__icon-bg {
    background-color: #c6973d;
  }
  .about-us-rules__item.show .about-us-rules__icon-bg svg path {
    fill: #fff;
  }
  .about-us-rules__item.show span {
    background-color: #5a5565;
  }
  .about-us-rules__icon {
    margin-right: 46px;
    position: relative;
    flex-shrink: 0;
  }
  .about-us-rules__icon span {
    width: 1px;
    background-color: #d2cfd7;
    height: 71%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 1s;
  }
  .about-us-rules__icon-bg {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: #aabbcd;
    transition: background-color 1s;
  }
  .about-us-rules__icon-bg svg path {
    fill: #003264;
    transition: fill 1s;
  }
  .about-us-rules__content {
    padding-bottom: 19.8%;
  }
  .about-us-rules__content-header {
    margin-top: 0;
    width: 85%;
  }
  .about-us-rules__content-desc {
    margin-top: 16px;
    color: #5a5565;
  }

  .about-us-numbers {
    padding: 40px 0;
  }
  .about-us-numbers__bg {
    background-color: #312b3f;
    border-radius: 10px;
    padding: 50px 40px;
  }
  .about-us-numbers__item {
    text-align: center;
  }
  .about-us-numbers__item-value {
    color: #d9b062;
    margin-top: 0;
  }
  .about-us-numbers__item-desc {
    color: #fff;
    margin-top: 8px;
  }
  .about-us-numbers__center {
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
  }

  .about-us-opinion {
    padding: 20px 0 60px;
  }
  .about-us-opinion__wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 60px;
    text-align: center;
  }
  .about-us-opinion__wrapper .p_regular_3 {
    color: #d9b062;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .about-us-opinion__wrapper .h4_regular {
    margin-top: 20px;
    color: #312b3f;
  }
  .about-us-opinion__name {
    margin-top: 30px;
  }
  .about-us-opinion__www {
    margin-top: 4px;
    color: #5a5565;
  }

  .about-us-technology {
    padding: 40px 0 80px;
  }
  .about-us-technology__wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  .about-us-technology__wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
  .about-us-technology__box {
    background-color: #312b3f;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 20px;
  }
  .about-us-technology__wrapper .about-us-technology__box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: rgba(49, 43, 63, 0.9);
  }
  .about-us-technology__box .h5_regular {
    color: #fff;
    margin-top: 0;
  }
  .about-us-technology__box .p_regular_3 {
    color: rgba(255,255,255,0.8);
    margin-top: 10px;
  }
  .about-us-technology__box .wise-button {
    margin-top: 16px;
    display: inline-block;
  }
  .about-us-technology__subheader {
    color: #d9b062;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-top: 40px;
  }
  .about-us-technology__header {
    margin-top: 8px;
  }
  .about-us-technology__description {
    margin-top: 40px;
    color: #fff;
    opacity: 0.4;
    line-height: 2.8rem;
  }

  @media (max-width: 743px) {
    .about-us-rules {
      margin: 45px 0;
    }
    .about-us-rules__items {
      margin-top: 40px;
    }
    .about-us-rules__item {
      margin-top: 30px;
    }
    .about-us-rules__content {
      padding-bottom: 0;
    }
    .about-us-numbers__center {
      border-left: none;
      border-right: none;
      border-top: 1px solid rgba(255,255,255,0.15);
      border-bottom: 1px solid rgba(255,255,255,0.15);
      padding: 20px 0;
      margin: 20px 0;
    }
    .about-us-numbers__bg {
      padding: 30px 20px;
    }
    .about-us-opinion__wrapper {
      padding: 30px 20px;
    }
  }
</style>
