---
export const prerender = true;
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Wsparcie – doradztwo, wdrożenie i utrzymanie platformy B2B" description="Kompleksowe wsparcie WiseB2B: doradztwo, wdrożenie, utrzymanie i rozwój platformy B2B. Działamy razem, na dłuższą metę.">

<div class="supports-logos">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="h2_semi lm-observer">Działamy razem, na dłuższą metę</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <p class="p_regular_2 description lm-observer">WiseB2B to nie tylko w pełni funkcjonalne narzędzie, ale również zespół konsultantów, który zapewni Ci wielowymiarowe wsparcie na każdym etapie cyfrowej transformacji sprzedaży w&nbsp;Twojej firmie. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
        <div class="boxes">
          <div class="box lm-observer" style="width: calc(100% / 4);">
            <div class="box__icon">
              <img width="31" height="31" src="/images/np_suitcase_4525556_000000-1.png" class="attachment-logos size-logos" alt="Doradztwo" />
            </div>
            <div class="box__content">
              <p class="p_semi_2 box__content-header">Doradztwo</p>
              <p class="p_regular_3 box__content-description">Otrzymasz wsparcie konsultantów z ponad 25-letnim doświadczeniem w&nbsp;pracy z firmami B2B. </p>
            </div>
          </div>
          <div class="box lm-observer" style="width: calc(100% / 4);">
            <div class="box__icon">
              <img width="31" height="31" src="/images/np_operation_2998632_000000-1.png" class="attachment-logos size-logos" alt="Wdrożenie" />
            </div>
            <div class="box__content">
              <p class="p_semi_2 box__content-header">Wdrożenie </p>
              <p class="p_regular_3 box__content-description">Prace wdrożeniowe płynnie doprowadzą do skutecznego uruchomienia. </p>
            </div>
          </div>
          <div class="box lm-observer" style="width: calc(100% / 4);">
            <div class="box__icon">
              <img width="31" height="31" src="/images/np_ecommerce_4557208_000000-1.png" class="attachment-logos size-logos" alt="Utrzymanie i rozwój" />
            </div>
            <div class="box__content">
              <p class="p_semi_2 box__content-header">Utrzymanie i&nbsp;rozwój</p>
              <p class="p_regular_3 box__content-description">Wspólnie ustalimy najlepsze podejście do rozwoju platformy B2B w Twojej firmie. </p>
            </div>
          </div>
          <div class="box lm-observer" style="width: calc(100% / 4);">
            <div class="box__icon">
              <img loading="lazy" width="31" height="31" src="/images/np_server_1122156_000000-1.png" class="attachment-logos size-logos" alt="Infrastruktura" />
            </div>
            <div class="box__content">
              <p class="p_semi_2 box__content-header">Infrastruktura</p>
              <p class="p_regular_3 box__content-description">Zadbamy o to, aby infrastruktura platformy była optymalnie dobrana do potrzeb Twojego biznesu. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="supports-numbers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="supports-numbers__numbers">
          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 01</div>
                  <img loading="lazy" width="220" height="220" src="/images/np_suitcase_4525556_000000-1-1.png" class="attachment-numbers-icon size-numbers-icon" alt="Ikona doradztwa" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Doradztwo</h2>
                  <h3 class="h3_semi number__content-subheader">Zbuduj plan cyfrowej transformacji sprzedaży razem z nami </h3>
                  <ul>
                    <li class="list">
                      <p class="p_semi_1 list__header">Zacznij skutecznie sprzedawać w kanale cyfrowym</p>
                      <p class="p_regular_3 list__description">Twoja firma sprzedaje w modelu tradycyjnym lub masz za sobą średnio udane próby wdrażania cyfrowej sprzedaży? Zastanawiasz się jak podejść do organizacji obszaru sprzedaży, aby skutecznie przenieść większość transakcji do kanału online? </p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Zaplanuj transformację i określ jej cele</p>
                      <p class="p_regular_3 list__description">Skorzystaj z doświadczenia konsultantów WiseB2B i zbuduj razem z nami plan transformacji Twojej sprzedaży. Wspólnie określimy najważniejsze cele biznesowe zmian i pomożemy ustalić sposób ich realizacji. </p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Wykorzystaj sprawdzone narzędzie</p>
                      <p class="p_regular_3 list__description">Mając plan i cele transformacji możesz przejść do faktycznego wdrożenia jej w życie. W tym celu będziesz potrzebował narzędzia, które elastycznie dostosuje się do potrzeb biznesowych Twojej firmy i zapewni Twoim klientom doświadczenia zakupowe w jakości co najmniej tak dobrej, jaką znają z bezpośrednich kontaktów z handlowcami, ale dostępnych o&nbsp;każdej porze z każdego miejsca. Właśnie takiej jakości możesz się spodziewać korzystając z&nbsp;WiseB2B. </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 02</div>
                  <img loading="lazy" width="220" height="220" src="/images/np_operation_2998632_000000-2.png" class="attachment-numbers-icon size-numbers-icon" alt="Ikona wdrożenia i uruchomienia" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Wdrożenie &amp; uruchomienie</h2>
                  <h3 class="h3_semi number__content-subheader">Sprawnie wprowadź nowy kanał cyfrowej sprzedaży dla swoich klientów</h3>
                  <p class="p_regular_1 number__content-description">Sam fakt uruchomienia e-sklepu nie jest jednoznaczny z tym, że Twoi klienci będą chcieli z niego korzystać. Skuteczne wdrożenie kanału e-Commerce B2B wymaga uważnego zaplanowania ścieżki zakupowej, która przewyższy doświadczenia z tradycyjnego modelu sprzedaży. User esperancie Twojego klienta to kluczowy aspekt skutecznego wdrożenia cyfrowej sprzedaży w B2B. Pomożemy Ci tak zaplanować wdrożenia WiseB2B, aby nowe narzędzie stało się naturalnym i intuicyjnym miejscem zakupów dla Twojego klienta. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 p-xl-0">
              <div class="supports-numbers__cta lm-observer">
                <img loading="lazy" width="715" height="536" src="/images/lg-screen-office-view.png" class="attachment-functions-cta size-functions-cta" alt="Platforma WiseB2B na dużym ekranie w biurze" />
                <div class="supports-numbers__cta-content">
                  <h3 class="h3_semi">Sprzedawaj więcej w B2B</h3>
                  <p class="p_regular_2">Zautomatyzuj składanie zamówień przez klientów i zwiększ wydajność swojego działu handlowego!</p>
                  <a class="p_semi_2 wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Zamów demo</a>
                </div>
              </div>
            </div>
          </div>

          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 03</div>
                  <img loading="lazy" width="220" height="220" src="/images/np_ecommerce_4557208_000000-2.png" class="attachment-numbers-icon size-numbers-icon" alt="Ikona utrzymania i rozwoju" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Utrzymanie &amp; rozwój</h2>
                  <h3 class="h3_semi number__content-subheader">Rozwijaj swoją ofertę i poprawiaj doświadczenia zakupowe swoich klientów</h3>
                  <ul>
                    <li class="list">
                      <p class="p_semi_1 list__header">Dostosuj się do dynamiki otoczenia biznesowego</p>
                      <p class="p_regular_3 list__description">Otoczenie biznesowe Twojej firmy zmienia się w mgnieniu oka, tak samo jak oczekiwania klientów. Dlatego praca nad doskonaleniem procesów związanych z cyfrową sprzedażą musi odbywać się w trybie ciągłym.</p>
                    </li>
                    <li class="list">
                      <p class="p_semi_1 list__header">Rozwijaj WiseB2B zgodnie z tym, jak rozwija się Twój biznes</p>
                      <p class="p_regular_3 list__description">WiseB2B to platforma otwarta na rozbudowywanie i rozszerzanie o nowe rozwiązania. Nasz zespół konsultantów zapewni Ci wsparcie w identyfikowaniu obszarów do rozwoju lub usprawnienia oraz opracowywaniu i wdrażaniu odpowiednich funkcji.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="number lm-observer">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3">
                <div class="number__wrap">
                  <div class="nr h1_regular">/ 04</div>
                  <img loading="lazy" width="220" height="220" src="/images/np_server_1122156_000000-2.png" class="attachment-numbers-icon size-numbers-icon" alt="Ikona infrastruktury" />
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-7 p-xl-0">
                <div class="number__content">
                  <h2 class="h2_regular number__content-header">Infrastruktura</h2>
                  <p class="p_regular_1 number__content-description">WiseB2B to rozwiązanie, z którego możesz korzystać w modelu WiseB2B Cloud. Platforma jest utrzymywana w chmurze, dzięki czemu nie musisz przejmować się serwerami – zadbamy o to, aby rozwiązanie było odpowiednio utrzymywane i monitorowane.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="support-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 p-lg-0 col-xl-8 offset-xl-2">
        <div class="support-cta__wrapper lm-observer">
          <div class="support-cta__data">
            <div class="support-cta__content">
              <h2 class="h2_semi">Potrzebujesz szczegółowych informacji?</h2>
              <p class="h5_regular name">Jakub Czyżkowski</p>
              <p class="p_regular_2 job">Lider projektu</p>
              <a class="wise-button wise-button--wise-harvest" href="/prezentacja-produktowa/">Porozmawiaj z ekspertem</a>
            </div>
          </div>
          <img loading="lazy" width="472" height="372" src="/images/Ellipse-126.png" class="attachment-cta_image size-cta_image" alt="Ekspert WiseB2B" />
        </div>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
