---
---

<footer id="footer" class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__wrap">
        <div class="footer__first">
          <a href="/"><img src="/svg/logo-wise-footer.svg" alt="WiseB2B" width="148" height="40" /></a>
          <p>Precyzyjne dopasowanie do specyfiki Twojego biznesu.</p>
        </div>
        <div class="footer_second">
          <p class="p_regular_1">wise B2B</p>
          <nav class="footer-fist-navigation site-navigation" role="navigation">
            <ul class="footer-menu">
              <li class="menu-item"><a href="/platforma-b2b/">Platforma B2B</a></li>
              <li class="menu-item"><a href="/platforma-b2b/pakiety-obszary-moduly/">Plany i ceny</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer_third">
          <p class="p_regular_1">Firma</p>
          <nav class="footer-fist-navigation site-navigation" role="navigation">
            <ul class="footer-menu">
              <li class="menu-item"><a href="/wdrozenia/">Wdrożenia</a></li>
              <li class="menu-item"><a href="/prezentacja-produktowa/">Kontakt</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer_fourth">
          <div class="footer__contact-data">
            <p class="p_regular_1">Kontakt</p>
            <div class="footer__contact">
              <a class="phone h5_regular" href="tel:+48 71 78 47 933">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.8732 9.90167L10.9459 8.64709C10.793 8.5813 10.6261 8.5548 10.4604 8.57003C10.2947 8.58525 10.1355 8.64171 9.99719 8.73425L8.432 9.77759C7.47541 9.31233 6.70117 8.5415 6.23169 7.58698L6.23181 7.58685L7.27148 5.99823C7.36198 5.86031 7.41689 5.70212 7.43129 5.53779C7.44569 5.37346 7.41913 5.20813 7.354 5.05658L6.09827 2.12671C6.01279 1.92783 5.86519 1.76199 5.67757 1.65402C5.48994 1.54605 5.2724 1.50175 5.0575 1.52777C4.21304 1.63635 3.43699 2.04864 2.87432 2.68763C2.31166 3.32662 2.00086 4.14859 2 5C2 9.96265 6.03735 14 11 14C11.8514 13.9991 12.6734 13.6883 13.3124 13.1257C13.9514 12.563 14.3637 11.7869 14.4722 10.9424C14.4982 10.7275 14.4538 10.51 14.3459 10.3224C14.2379 10.1348 14.0721 9.98719 13.8732 9.90167Z" fill="#312B3F"/>
                </svg>
                +48 71 78 47 933
              </a>
              <a class="mailto h5_regular" href="mailto:kontakt@wiseb2b.eu">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.4994 3.48808C14.4992 3.47884 14.4987 3.4696 14.498 3.46039C14.4974 3.45287 14.4967 3.44539 14.4958 3.43797C14.4947 3.42934 14.4933 3.42075 14.4918 3.41215C14.4904 3.4044 14.489 3.39671 14.4872 3.3891C14.4854 3.38095 14.4832 3.37288 14.481 3.36482C14.4788 3.35712 14.4766 3.34949 14.4741 3.34195C14.4715 3.33407 14.4685 3.32632 14.4655 3.31857C14.4626 3.31116 14.4597 3.30382 14.4565 3.2966C14.4531 3.28897 14.4494 3.28148 14.4456 3.274C14.442 3.26691 14.4383 3.25989 14.4344 3.25299C14.4303 3.24587 14.426 3.23886 14.4216 3.23189C14.4171 3.22485 14.4125 3.21796 14.4077 3.21117C14.4031 3.20477 14.3984 3.1985 14.3936 3.19228C14.3881 3.18527 14.3824 3.17846 14.3766 3.17177C14.3738 3.16861 14.3714 3.16525 14.3686 3.16214C14.3662 3.15952 14.3635 3.15729 14.3611 3.15473C14.355 3.14841 14.3488 3.14235 14.3424 3.13635C14.3365 3.1308 14.3306 3.12529 14.3245 3.12006C14.3185 3.11493 14.3123 3.11008 14.3061 3.10523C14.2992 3.09991 14.2924 3.09465 14.2854 3.08976C14.2793 3.0855 14.2729 3.08155 14.2667 3.07756C14.2592 3.07286 14.2518 3.06818 14.2442 3.06391C14.2375 3.06018 14.2307 3.05681 14.2239 3.05339C14.2163 3.04962 14.2089 3.04582 14.2012 3.04246C14.1937 3.03916 14.186 3.03629 14.1784 3.03336C14.171 3.03055 14.1637 3.0277 14.1562 3.02526C14.1482 3.02259 14.1399 3.02036 14.1317 3.0181C14.1242 3.01609 14.1169 3.01406 14.1094 3.0124C14.1012 3.01055 14.0928 3.0091 14.0844 3.00767C14.0765 3.00632 14.0686 3.00501 14.0607 3.00405C14.0528 3.00309 14.0448 3.00245 14.0368 3.00187C14.028 3.00123 14.0193 3.00072 14.0106 3.00054C14.007 3.00046 14.0036 3 14 3H2C1.99664 3 1.99341 3.00044 1.99005 3.0005C1.98084 3.00069 1.97162 3.00121 1.96243 3.00189C1.95483 3.00247 1.9473 3.00307 1.93982 3.00397C1.93143 3.00497 1.9231 3.00635 1.91473 3.0078C1.90677 3.00917 1.8988 3.01053 1.89099 3.01228C1.88312 3.01404 1.87537 3.01617 1.86755 3.01831C1.85968 3.02048 1.85181 3.0226 1.84409 3.02513C1.83627 3.02769 1.82859 3.03067 1.82086 3.03363C1.81357 3.03644 1.80624 3.03918 1.7991 3.04231C1.79114 3.04581 1.78335 3.04974 1.77554 3.05368C1.76898 3.05698 1.76241 3.0602 1.75604 3.06377C1.74823 3.06815 1.7406 3.07295 1.73297 3.07779C1.72687 3.08167 1.7207 3.08551 1.71478 3.08965C1.70761 3.09462 1.70068 3.09996 1.69376 3.10536C1.68759 3.11014 1.68149 3.11493 1.67557 3.12C1.6694 3.12526 1.66345 3.1308 1.65747 3.13643C1.65115 3.14238 1.64496 3.14842 1.63895 3.15469C1.63651 3.15727 1.63382 3.15952 1.63141 3.16214C1.62857 3.16525 1.62619 3.16861 1.62344 3.17177C1.61761 3.17846 1.61194 3.18527 1.60644 3.19227C1.60159 3.1985 1.59686 3.20477 1.59234 3.21116C1.58752 3.21795 1.58291 3.22485 1.57843 3.23188C1.574 3.23886 1.5697 3.24586 1.56561 3.25299C1.5617 3.25988 1.55801 3.2669 1.55441 3.274C1.55063 3.28148 1.54693 3.28897 1.54352 3.2966C1.54031 3.30382 1.53735 3.31115 1.53448 3.31857C1.53146 3.32632 1.52853 3.33407 1.52591 3.34195C1.52341 3.34948 1.52118 3.35711 1.51901 3.36482C1.51675 3.37288 1.51462 3.38095 1.51276 3.3891C1.51105 3.39671 1.50955 3.4044 1.50818 3.41215C1.50665 3.42074 1.50531 3.42933 1.50424 3.43797C1.50332 3.4454 1.50258 3.45287 1.50201 3.46039C1.50128 3.46962 1.50081 3.47885 1.50061 3.48808C1.50052 3.49208 1.5 3.49597 1.5 3.5V12C1.5003 12.2651 1.60576 12.5193 1.79323 12.7068C1.9807 12.8942 2.23488 12.9997 2.5 13H13.5C13.7651 12.9997 14.0193 12.8942 14.2068 12.7068C14.3942 12.5193 14.4997 12.2651 14.5 12V3.5C14.5 3.49597 14.4995 3.49208 14.4994 3.48808ZM2.5 4.63664L6.16913 8.00002L2.5 11.3634V4.63664ZM3.28546 12L6.90912 8.67833L7.66211 9.36858C7.75433 9.45311 7.8749 9.5 8 9.5C8.1251 9.5 8.24567 9.45311 8.33789 9.36858L9.09091 8.67831L12.7146 12H3.28546ZM9.83088 8L13.5001 4.63655L13.5006 11.3638L9.83088 8Z" fill="#D9B062"/>
                </svg>
                kontakt@wiseb2b.eu
              </a>
            </div>
          </div>
          <div class="footer__socials">
            <p class="p_regular_1">Dołącz do nas:</p>
            <div class="footer__join-us">
              <div class="footer__join-us-linkedin">
                <a class="p_regular_3" href="https://www.linkedin.com/company/wiseb2b/" target="_blank" rel="noopener">
                  <svg width="45" height="56" viewBox="0 0 45 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 55.5C22.5 55.5 0.499995 35.5489 0.499995 23.0789C0.499996 10.6089 10.3497 0.499999 22.5 0.499999C34.6503 0.5 44.5 10.6089 44.5 23.0789C44.5 35.549 22.5 55.5 22.5 55.5Z" fill="#312B3F"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2956 14.0547C17.2956 15.1748 16.4427 16.0813 15.1089 16.0813C13.8271 16.0813 12.9742 15.1748 13.0006 14.0547C12.9742 12.8801 13.8271 12 15.1345 12C16.4427 12 17.27 12.8801 17.2956 14.0547ZM13.1078 30.7298V17.6824H17.1628V30.729H13.1078V30.7298Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4129 21.8461C20.4129 20.2187 20.3593 18.8313 20.3057 17.6839H23.8278L24.015 19.4714H24.095C24.6287 18.6441 25.9625 17.3911 28.1236 17.3911C30.7912 17.3911 32.7923 19.1522 32.7923 22.9927V30.7314H28.7373V23.5008C28.7373 21.8189 28.1508 20.6724 26.6834 20.6724C25.5624 20.6724 24.896 21.4461 24.6295 22.1926C24.5223 22.4598 24.4695 22.8326 24.4695 23.2071V30.7314H20.4145V21.8461H20.4129Z" fill="white"/>
                  </svg>
                  <span>Linkedin</span>
                </a>
              </div>
              <div class="footer__join-us-facebook">
                <a class="p_regular_3" href="https://www.facebook.com/wiseb2b" target="_blank" rel="noopener">
                  <svg width="45" height="56" viewBox="0 0 45 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 55.5C22.5 55.5 0.499995 35.5489 0.499995 23.0789C0.499996 10.6089 10.3497 0.499999 22.5 0.499999C34.6503 0.5 44.5 10.6089 44.5 23.0789C44.5 35.549 22.5 55.5 22.5 55.5Z" fill="#312B3F"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.791 18.373C27.2597 18.2668 26.5423 18.1874 26.091 18.1874C24.8692 18.1874 24.7898 18.7186 24.7898 19.5686V21.0817H27.8441L27.5779 24.216H24.7898V33.7495H20.9656V24.216H19V21.0817H20.9656V19.143C20.9656 16.4875 22.2137 15 25.3473 15C26.436 15 27.2329 15.1594 28.2685 15.3719L27.791 18.373Z" fill="white"/>
                  </svg>
                  <span>Facebook</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer__bottom">
      <nav>
        <ul>
          <li><a href="https://sente.pl/polityka-prywatnosci-2/" target="_blank" rel="noopener">Polityka Prywatności</a></li>
        </ul>
      </nav>
      <div class="footer__bottom-copyright">&copy;2000-2026 wiseB2B</div>
    </div>
  </div>
</footer>
